// Global variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

#main-cont {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

// Sets the layout of the header saying Statistics
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
    color: $grey-shade;
}

// markup of the button linking to the labelling page
#mergeLabelButton {
    float: right;
    margin-right: 10px;    
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: $grey-shade;
    color: black;
}

// markup of the project name
#project_title {
    color: $grey-shade;
    font-size: 35px;
    letter-spacing: 1px;
}

// markup of the text showing about what the stats are
.page-splitter {
    color: $grey-shade;
    font-size: 20px;
    text-decoration: underline;
    padding-left: 10px;
}

// PROGRESS BAR
// The division of the progress
.progress{
    margin-top:5px;
    width: 100%;
    float: left;
    border-radius: 10px
}
// Actual progress bar
.progress-bar{
    background-color: $orange-shade;
    border-radius: 10px
}

// makes sure that number of conflict and the icon are aligned
.left {
    float: left;
}

// moves the content to the right used on text
.text-margin {
    padding-left: 10px;
    margin-top: 3px;
}

// sets the layout of the bino icon
#bino-icon {
    color: $orange-shade;
    font-size: 30px;
    padding-left: 20px;
    margin-top: -10px;
}

// sets the layout of the user icon
#person-icon {
    color: $orange-shade;
    font-size: 30px;
    padding-left: 50px;
    margin-top: -6px; 
}

// Moves the box with the user stats slightly down
#user-stats-box {
    padding-top: 15px;
}

// Moves the table down
#table {
    margin-top: 30px;
}

// Sets the style for the headers in the table
.tableheader {
    font-size: 15px;
}

// Sets the style for the content of the table
.tablecontent {
    font-size: 15px;
}

//Scroll Related Business
.my-custom-scrollbar {
    position:relative;
    height: 80vh;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }
//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e; 
    border-radius: 10px;
}
// Scroll bar
#scrolly{
    padding-right: 40px;
    height: auto;
}