// Import style sheet with global variables
// @import "../../styles.scss";

// Dear whoever wrote this component.
// Importing styles.scss also imports the *entirety* of bootstrap
// This causes memory issues
// ONLY IMPORT FROM STYLES.SCSS WHAT YOU TRULY NEED, INSTEAD OF EVERYTHING
// Lots of love,
// - Eddie

// Sets the layout of the header saying Statistics
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}