<!-- Containing holding the statistics page -->
<div class="container-fluid min-vh-100 d-flex flex-column">

    <!-- Header row holding title of page-->
    <div class="row">
        <!-- Title -->
        <div class="col">
            <p class="header">Statistics</p>
        </div>

        <!-- Button for going to the labelling page -->  
        <div class="col">            
            <button type="button" class="btn btn-secondary" id="mergeLabelButton" [routerLink]="['/project/labelling-page']">
                Start labelling
                <em class="bi bi-plus"></em>
            </button>                
        </div>
    </div>

    <!-- Shows the title of the project -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div id="project_title">Project 1</div>
        </div>
    </div>

    <!-- Shows the "Project stats" text -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="page-splitter">Project stats</div>
        </div>
    </div>

    <!-- Row containing the progress bar, conflicts -->
    <div class="row">
        <div class="col-1"></div>

        <!-- Column for progress bar and values-->
        <div class="col-6">
            <!-- Progress bar -->
            <div class="progress">
                <!-- Calculating progress bar and other values -->
                <div class="progress-bar" role="progressbar" attr.aria-valuenow = 5
                aria-valuemin="0" attr.aria-valuemax=5
                [style.width]="(2 / 5)*100 + '%'"
                style="background-color:#ED5A06 !important;"> 
                </div>
            </div>
        </div>

        <!-- Conflicts stuff -->
        <div class="col-2">2 / 5</div>
        <div class="col">
            <div>
                <p class="left">3</p> 
                <em class="left bi bi-binoculars" id="bino-icon"></em>
            </div>
        </div>
    </div>

    <!-- Shows the "user stats" text and the number of users and icon -->
    <div class="row" id="user-stats-box">
        <div class="col-1"></div>
        <div class="col">
            <div>
                <!--  -->
                <div class="left page-splitter">User stats</div>
                <em class="left bi bi-person" id="person-icon"></em>
                <p class="left text-margin">5</p>
            </div>
        </div>
    </div>

    <!-- Shows the table with all the users and their contribution -->
    <div class="row" id="table">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="scrolly">
                <table class="table table-hover" id="labelTable">

                    <!--Table Headers-->
                    <thead>
                        <tr>
                            <th scope="col"><p class="tableheader">User</p></th>
                            <th scope="col"><p class="tableheader"># Labelled artifacts</p></th>
                            <th scope="col"><p class="tableheader">Avg time per artifact</p></th>
                            <th scope="col"><p class="tableheader"># Themes</p></th>
                            <th scope="col"><p class="tableheader"># Conflicts</p></th>
                        </tr>
                    </thead>
                    <!--Table Content-->
                    <tbody>
                        <tr *ngFor="let user of user_contribution">
                            <td><p class="tablecontent">{{user.username}}</p></td>
                            <td><p class="tablecontent">{{user.nr_labelled}}</p></td>
                            <td><p class="tablecontent">{{user.time}}</p></td>
                            <td><p class="tablecontent">{{user.nr_themes}}</p></td>
                            <td><p class="tablecontent">{{user.nr_conflicts}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
