// Main title
.title {
  padding-top: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  font-size: 36px;
  letter-spacing: 1px;
}

// Smaller subtitles
.subTitle {
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #ed5a06;
  font-size: 25px;
  letter-spacing: 1px;
}

// Container
.container {
  margin-bottom: 10px;
}

// Width for label name
#label-name.form-control {
  width: auto;
}

// Bottom buttons row
#buttons-cancel-submit {
  margin-top: 10px;
}

// Bottom buttons
#btns-cancel-submit {
  margin-right: 10px;
  border: none;
  width: 150px;
}

// Add labels button
#addLabelButton {
  margin-top: 5px;
  background-color: #ed5a06;
  border: none;
}

// Make the highlight around the buttons none
.btn:focus {
  box-shadow: none;
}

// Description textarea
#description {
  resize: none;
}

.label-selection,
.label-selection-form {
  padding-top: 10px;
}

// Make the textarea non-dragable
#remark{
  resize: none;
}