<div *ngFor="let label of labels| slice:0:2">
  <div>
      <!-- Heading for merged label -->

      <div class="subTitle">
          <!-- Add more labels -->
          <button type="button" class="btn btn-secondary" id="deleteLabelButton" style="background-color: Transparent; border: none; color: black;">
              <!-- Plus icon -->
              <i class="bi bi-x"></i>
          </button>
          Label #{{ label.getId() }}
      </div>

      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel>
              <ng-template ngbPanelTitle>
                  <div class="form-group" >
                      <select class="form-control" id="label-type" name="labels">
                          <option *ngFor="let label of labels">{{ label.getName() }}</option>
                      </select>
                  </div>
              </ng-template>
              <ng-template ngbPanelContent>
                  <div>
                      <p id="artifactText">{{label.getDesc()}}</p>
                  </div>
              </ng-template>
          </ngb-panel>
      </ngb-accordion>
  </div>
</div>
