#pageTitle {
    padding-top: 10px;
    font-size: 35px;
    letter-spacing: 1px;
}
#name{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: #ED5A06;
}
#labels{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: #ED5A06;
}
#allLabels{
    padding-left: 10px;
}
#allLabelsCol{
    padding-top: 10px;
}
#nameInputCol{
    padding-top: 10px;
}
