<!-- @author: Chinno Lavin -->
<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <!-- Page Header -->
    <div class="row" >
        <div class="col-10 header" id="pageTitle"> 
            Create Theme
        </div>
    </div>

    <!-- Page body top half -->
    <div class="row" id="topHalf">
        <!-- Left side of top half -->
        <div class="col-6">
            <!-- Row for name and labels -->
            <div class="row" id="topLeft">

                <!-- Theme name section -->
                <div class="col-sm-12">
                    <!-- Name header -->
                    <div id="name">
                        Name
                    </div>
                    <!-- Input form for name -->
                    <div id="nameInputCol">
                        <div class="form-group">
                            <input class="form-control" id="nameForm" type="text" placeholder="Theme name" required><br>
                        </div>
                    </div>
                </div>

                <!-- Displays all labels section -->
                <div class="col-sm-12">
                    <!-- Labels header -->
                    <div id="labels">                 
                        Labels
                    </div>
                    <!-- List of all labels -->
                    <div id="allLabelsList">
                        <div *ngFor="let label of addedLabels">
                            <span id="addedLabels">{{label}}</span>
                            <!-- Column for delete icon -->
                            <button class="btn x" type="button" (click)="removeLabel(label)">
                                <!-- Plus icon -->
                                <span class="bi bi-x">                                  
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <!-- Right side of top half -->
        <div class="col-6">
            <!-- Row for description and subthemes -->
            <div class="row" id="topRight">
                <!-- Description section -->
                <div class="col-sm-12">
                    <!-- Description header -->
                    <div id="description">
                        Description
                    </div>
                    <!-- Input for the description -->
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description" id="descriptionArea"></textarea>
                    </div>
                </div>

                <!-- Sub-themes section -->
                <div class="col-sm-12">
                    <!-- Sub-themes header -->
                    <div id="subThemes">
                        Sub-Themes
                    </div>
                    <!-- Sub-theme list from data -->
                    <div id="addedSubthemesList">
                        <div *ngFor="let subtheme of addedSubthemes">
                            <span id="addedSubthemes">{{subtheme}}</span>
                             <!-- Column for delete icon -->
                             <button class="btn x" type="button" (click)="removeSubtheme(subtheme)">
                                <!-- Plus icon -->
                                <span class="bi bi-x">                                  
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Bottom Half -->
    <div class="row"  id="bottomHalf">
        <div class="col-6">

            <!-- Add Labels Section --> 
            <div id="addLabels">
                Add Labels
            </div>
            <div class="row">
                <!-- Add Labels Left side -->
                <!-- TODO Filtering and Searching -->
                <div class="col-sm-6">
                    <!-- Table for showing all labels -->
                    <table class="table table-borderless">
                        <tbody>
                            <div id="labelScroll">
                                <!-- Click shows clicked labels description and highlights it-->
                                <tr *ngFor="let label of allLabels" (click)="displayDescription(label);" (click)="highlightLabel(label)"  [class.highlighted]="label.labelName === highlightedLabel">
                                    <td>
                                        <span class="addLabelsText">
                                            {{label.labelName}}
                                        </span>
                                        <!--  Add label button -->
                                        <button class="btn" type="button" (click)="addLabel(label)">
                                            <!-- Plus icon -->
                                            <span class="bi bi-plus">                                  
                                            </span>
                                        </button>
                                    </td>                                 
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
                <!-- Add Labels right side Description part -->
                <div class="col-sm-6">
                    <p id="labelDescription">Description:</p>
                    <div id="descriptionScroll">
                        <div *ngIf="selectedDescription != null">
                            <p class="labelDescriptionText">{{selectedDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>          
        </div>

        <!--bottom half right side--> 
        <div class="col-6"> 

            <!-- Add Sub-Themes Section --> 
            <div id="addSubthemes">
                Add Sub-Themes
            </div>
            <div class="row">
                <div class="col-sm-6">                    
                    <!-- Table for showing all Sub-Themes -->
                    <table class="table table-borderless">
                        <tbody>
                            <div id="subthemeScroll">
                                <!-- Click shows clicked Subtheme and highlights it-->
                                <tr *ngFor="let subtheme of allSubthemes" (click)="highlightSubtheme(subtheme)"  [class.highlighted]="subtheme === highlightedSubtheme">
                                    <td>
                                        <span class="addSubthemeText">
                                            {{subtheme}}
                                        </span>
                                        <!--  Add subtheme button -->
                                        <button class="btn" type="button" id="addsubthemeButton" (click)="addSubtheme(subtheme)">
                                            <!-- Plus icon -->
                                            <span class="bi bi-plus">                                  
                                            </span>
                                        </button>
                                    </td>                                 
                                </tr>
                            </div>
                        </tbody>
                    </table> 
                </div> 

                <!-- Add themes right side Description part -->
                <div class="col-sm-6">
                    <p id="labelDescription">Description:</p>
                    <div id="descriptionScroll">
                        <div *ngIf="selectedDescription != null">
                            <p class="labelDescriptionText">{{selectedDescription}}</p>
                        </div>
                    </div>
                </div>    
            </div>  
        </div>
    </div>

    <!--Page Footer--> 
    <!--Create/Cancel buttons--> 
    <div class="col-12" id="createCancelButtons">
        <div>
            <!-- Create button -->
            <button class="form-group btn btn-primary float-end" (click)="notImplemented()" style="margin-left:10px;">Create</button> 
            <!-- Cancel button -->
            <button class="form-group btn btn-secondary float-end" id="cancelButton" (click)="reRouter()">Cancel</button>
        </div>
    </div>
</div>
