#pageTitle {
    padding-top: 10px;
    font-size: 35px;
    letter-spacing: 1px;
}
#topHalf{
    padding-top:10px;
    padding-left:30px;
    padding-right: 30px;
}
#topLeft{
    padding-right: 100px;
}
#topRight{
    padding-left: 0px;
}
#name{
    margin-left: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
#description{
    font-size: 20px;
    letter-spacing: 1px;
}
#labels{
    margin-left: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
#allLabels{
    padding-left: 20px;
    font-size:17px;
    letter-spacing: 1px;
}
#allLabelsCol{
    padding-top: 10px;
}
#nameInputCol{
    padding-top: 10px;
}
#subThemes{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: orange
}
#addSubthemeButton{
    background-color: #ED5A06;
    border: 2px solid;
    border-color: #ED5A06;
    color: white;
    float: right;
}
#allSubthemes{
    padding-left: 20px;
    font-size:17px;
    letter-spacing: 1px;
}
#allSubthemesCol{
    padding-top: 10px;
}

