//Title Header part of the page
#pageTitle {
    padding-top: 10px;
    font-size: 35px;
    letter-spacing: 1px;
}
//Top half part of page
#topHalf{
    padding-top:10px;
    padding-left:30px;
    padding-right: 30px;
    height:50vh; 
}
//top left section
#topLeft{
    padding-right: 100px;
}
//Name Header
#name{
    margin-left: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//Name input box
#nameForm{
    width: auto;
}
//Labels header
#labels{
    margin-left: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//Labels list from *ngFor
#allLabels{
    font-size:14px;
    letter-spacing: 1px;
}
#allLabelsCol{
    padding-top: 10px;
}
// x icon for removing labels
#xIcon{
    float:right
}
#nameInputCol{
    padding-top: 10px;
}
//Top right of page
#topRight{
    padding-left: 0px;
}
#description{
    font-size: 18px;
    letter-spacing: 1px;
}

//Subthemes header
#subThemes{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom-color: orange
}
//Subtheme button
#addSubthemeButton{
    background-color: #ED5A06;
    border: 2px solid;
    border-color: #ED5A06;
    color: white;
    float: right;
}
//Subthemes list 
#allSubthemes{
    padding-left: 20px;
    font-size:14px;
    letter-spacing: 1px;
}
#allSubthemesCol{
    padding-top: 10px;
}

//Bottom Half
#bottomHalf{
    padding-top:10px;
    padding-left:30px;
    padding-right:100px;
}
#addLabels{
    margin-left: 10px;
    border-bottom: 2px; 
    border-bottom-style: solid; 
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//Add label text
#addLabelsText{
    font-size: 14px;
}
//add label button
.btn{
    float:right
}
//Highlight class
.highlighted{ 
    background-color:#ED5A06; 
    color: white;
    .btn{
        color: white !important;
    }      
}
// label description header
#labelDescription{
    font-size: 16px;
    font-weight: 450;
}
// Label Description text container
p.labelDescriptionText{
    padding-left: 10px;
    font-size: 14px;
}

// SCROLLBAR
// Scrollbar general
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background:white; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
// button container for create and cancel
#createCancelButtons{
    padding-bottom: 10px;
}
// button outline
.btn:focus {
    outline: none;
    box-shadow: none;
  }