// Title of the page
#pageTitle {
    padding-top: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

// Text for artifact id and buttons
#artifactId,
#artifactButtons {
    font-size: 36px;
    letter-spacing: 1px;
}

// Artifact button
#artifactButtons {
    text-align: right;
}

// Label type title
.labelTypeTitle {
    font-size: 17px;
    letter-spacing: 1px;
}

// Description title
.descriptionTitle {
    font-size: 19px;
    padding-bottom: 2px;
    height: 28px;
}

// Description text
.descriptionText {
    max-height: 20vh;
    font-size: 16px;
    overflow-y: scroll;
}

// Artifact container
.artifactContainer {
    max-height: 30vh;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 4px;
    min-height: 40vh;
    overflow-y: scroll;
}

// Names of the people
#names {
    padding-top: 3px;
    padding-bottom: 5px;
}


// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e;
    border-radius: 10px;
}


// Label description
.labelDescription {
    border-left: 2px solid #ed5a06;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#labelThing {
    overflow-y: scroll;
    max-height: 40vh;
}

#body {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#remark {
    max-height: 29vh;
    resize: none;
}

// Division of the buttons
#butt {
    margin-top: 10px;
}

// Submit button
#btn-submit {
    border: none;
    background-color: #ed5a06;
}

// Skip button
#skip-button {
    margin-right: 10px;
    border: none;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

#hoverCurs {
    cursor: pointer;
    color: #ed5a06;
}

.hoverNoColor {
    cursor: pointer;
    margin-left: 5px;
}