// Ensures that the logout button is on the top right
#logout-icon {
    position: fixed;
    top: 5px;
    right: 20px;
}

// Sets the layout of the logout button
.def {
    color: black;
    font-size: 45px;
    cursor: pointer;
}