<!-- @Author Jarl Jansen -->

<!-- Container holding the content of the page, takes up entire screen -->
<div class="container-fluid min-vh-100 d-flex flex-column">
    <!-- Account information -->
    <ng-container *ngIf="mode==0">
        <!-- Create app-account-information component, user data and listens for modeChange events -->
        <app-account-information [userAccount]="user" (modeChangeEvent)="modeChange($event)"></app-account-information>
    </ng-container>
    
    <!-- Edit division -->
    <ng-container *ngIf="mode==1">
        <!-- Create app-edit-account-settings component, passes user data and listens for modeChange events -->
        <app-edit-account-settings [userAccount]="user" (modeChangeEvent)="modeChange($event)"></app-edit-account-settings>
    </ng-container>
    
    <!-- Change password -->
    <ng-container *ngIf="mode==2">
        <!-- Create app-account-change-password component, passes user data and listens for modeChange events -->
        <app-account-change-password [userAccount]="user" [superAdmin]="false" (modeChangeEvent)="modeChange($event)"></app-account-change-password>
    </ng-container>
</div>


