<!-- Author: Victoria Bogachenkova -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="main-cont">
    <!-- contains the page title and Artifact Identifier -->
    <div class="row">
        <!-- Label Name as title -->
        <div id="artifactId" class="col-11">
            <p class="header">{{label.getName()}}</p>
        </div>
        <div class="col-1 d-flex justify-content-center">
            <!-- When clicked calls openThemeHistory function -->
            <em class="bi bi-clock-history" id="history-hover" (click)="openLabelHistory()" ngbTooltip="History"></em>
        </div>
    </div>

    <!-- Container for Labels -->
    <div class="row" id="rowLabels">
        <div class="col-4">
            <div>
                <!-- Label Name -->
                <div class="subTitle">Name</div>
                <div class="labelName">
                    <p>{{label.getName()}}</p>
                </div>
            </div>
            <div>
                <!-- Label Type -->
                <div class="subTitle">Label Type</div>
                <div class="labelType">
                    <p>{{label.getType()}}</p>
                </div>
            </div>
            <div>
                <!-- Which artifacts were labelled -->
                <div class="subTitle">Artifacts Labelled</div>
                <div *ngFor="let labelling of labellings" class="labeledArtifacts">
                    <span id="artifactIdText">Artifact #{{labelling.a_id}}</span><span> by {{labelling.username}}</span>
                    <p id="remarksArtifacts">Remarks:</p>
                    <div>
                        <p id="remarksArtifactsContent">{{labelling.remark}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-6">
            <!-- Description -->
            <div class="subTitle">
                Description
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="8" placeholder="Description" id="description" readonly>{{label.getDesc()}}</textarea>
            </div>
            <!-- Part of which Themes -->
            <div class="subTitle">
                Themes
            </div>
            <div *ngFor="let theme of label.getThemes()" class="labelThemes">
                <p (click)="reRouterTheme(theme.getId())" id="clickable">{{theme.getName()}}</p>
            </div>
        </div>
    </div>

    <!-- Back and Edit Buttons -->
    <div class="col-6 align-self-end">
        <div>
          <button *ngIf="labelCount == 0" class="btn btn-danger float-end" (click)="postSoftDelete()" id="btn-delete" [disabled]="frozen">Delete</button>
          <!-- Edit button -->
          <button class="btn btn-secondary float-end" (click)="openEdit()" id="btn-edit" [disabled]="frozen">Edit</button>
          <!-- Cancel button -->
          <button class="btn btn-secondary float-end" (click)="reRouter()" id="btn-back">Back</button>
        </div>
    </div>
</div>
