<!-- Author: Victoria Bogachenkova -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <!-- contains the page title and Artifact Identifier -->
    <div class="row" id="pageTitle">
        <!-- Label Name as title -->
        <div id="artifactId" class="col-10">
            <p class="header">{{label.getName()}}</p>
        </div>
    </div>

    <!-- Container for Labels -->
    <div class="row" id="rowLabels">
        <div class="col-4" id="leftRow">
            <div>
                <!-- Label Name -->
                <div class="subTitle">Name</div>
                <div class="labelName">
                    <p>{{label.getName()}}</p>
                </div>
            </div>
            <div>
                <!-- Label Type -->
                <div class="subTitle">Label Type</div>
                <div class="labelType">
                    <p>{{label.getType()}}</p>
                </div>
            </div>
            <div>
                <!-- Which artifacts were labelled -->
                <div class="subTitle">Artifacts Labelled</div>
                <div *ngFor="let labelling of labellings" class="labeledArtifacts">
                    <span id="artifactIdText">Artifact #{{labelling.a_id}}</span><span> by {{labelling.username}}</span>
                    <p id="remarksArtifacts">Remarks:</p>
                    <div>
                        <p id="remarksArtifactsContent">{{labelling.remark}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2" id="middleRow"></div>
        <div class="col-6" id="rightRow">
            <!-- Description -->
            <div class="subTitle">
                Description
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="8" placeholder="Description" id="remark" readonly>{{label.getDesc()}}</textarea>
            </div>
            <!-- Part of which Themes -->
            <div class="subTitle">
                Themes
            </div>
            <div *ngFor="let theme of label.getThemes()" class="labelThemes">
                <p>{{theme.getName()}}</p>
            </div>
        </div>
    </div>

    <!-- Back and Edit Buttons -->
    <div  class="btns">
        <button class="btn btn-secondary float-start" (click)="reRouter()" id="btns-cancel-submit">Back</button>
        <button class="btn btn-secondary float-start" (click)="openEdit()" id="btn-edit">Edit</button>
    </div>
</div>
