<!-- Author: Victoria Bogachenkova -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="main-cont">
    <!-- contains the page title and Artifact Identifier -->
    <div class="row">
        <!-- Label Name as title -->
        <div id="artifactId" class="col-10">
            <p class="header">{{label.getName()}}</p>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <!-- Cancel button -->
            <button class="bi bi-arrow-left" (click)="reRouter()" id="btn-back" ngbTooltip="Back"></button>

            <!-- Edit button -->
            <button class="bi bi-pencil" (click)="openEdit()" id="btn-edit" [disabled]="frozen" ngbTooltip="Edit"></button>

            <button *ngIf="labelCount == 0" class="bi bi-trash" (click)="postSoftDelete()" id="btn-delete" ngbTooltip="Delete"
            [disabled]="frozen"></button>

            <!-- When clicked calls labelHistory function -->
            <button class="bi bi-clock-history" (click)="openLabelHistory()" id="btn-history" ngbTooltip="History"></button>
        </div>
    </div>

    <!-- Container for Labels -->
    <div class="row" id="rowLabels">
        <div class="col-7">
            <div>
                <!-- Label Name -->
                <div class="subTitle">Name</div>
                <div class="labelName">
                    <p>{{label.getName()}}</p>
                </div>
            </div>
            <div>
                <!-- Label Type -->
                <div class="subTitle">Label Type</div>
                <div class="labelType">
                    <p>{{label.getType()}}</p>
                </div>
            </div>
            <div>
                <!-- Which artifacts were labelled -->
                <div class="subTitle">Artifacts Labelled</div>
                <div *ngFor="let labelling of labellings" class="labeledArtifacts">
                    <span id="artifactIdText">Artifact #{{labelling.a_id}}</span><span> by {{labelling.username}}</span>
                    <p id="remarksArtifacts">Remark:</p>
                    <div>
                        <p id="remarksArtifactsContent">{{labelling.remark}}</p>
                    </div>
                    <p id="artifact">Artifact:</p>
                    <div>
                        <p id="artifactData">{{labelling.data}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <!-- Description -->
            <div class="subTitle">
                Description
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="8" placeholder="Description" id="description"
                    readonly>{{label.getDesc()}}</textarea>
            </div>
            <!-- Part of which Themes -->
            <div class="subTitle">
                Themes
            </div>
            <div *ngFor="let theme of label.getThemes()" class="labelThemes">
                <p (click)="reRouterTheme(theme.getId())" id="clickable">{{theme.getName()}}</p>
            </div>
        </div>
    </div>

    <!-- Row for the delete buttons -->
</div>