<!-- @Author Jarl Jansen, Veerle Furst -->
<!-- Row for the header -->
<div class="row">
    <div class="col-8 offset-2 justify-content-center">
        <div id="header">Changing your password</div>
    </div>
</div>
<!-- Row for the form -->
<div class="row">
    <div class="col-8 offset-2 justify-content-center">
        <!-- For for user information -->
        <form id="passwordEditForm" [formGroup]="passwordForm">
            <!-- Password field -->
            <div class="form-group">
                <label id="field_text">Password:</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="old_password">
            </div>
            <!-- New password field -->
            <div class="form-group">
                <label id="field_text"> New password:</label>
                <input type="password" class="form-control" placeholder="New password" formControlName="new_password">
            </div>
            <!-- Repeat new password field -->
            <div class="form-group">
                <label id="field_text"> Repeat new password:</label>
                <input type="password" class="form-control" placeholder="Repeat new password" formControlName="new_passwordR">
            </div>
        </form>

    </div>
</div>
<!-- Row for the error message -->
<div class="row">
    <div class="col offset-2">
        <div *ngIf="errorMsg" id="infoMessage">{{errorMsg}}</div>
    </div>
</div>
<!-- Row for buttons -->
<div class="row">        
    <div class="col-8 offset-2 text-right">
        <!-- Edit button -->
        <button (click)="editPasswordF()" type="submit" class="btn btn-primary editButtons">Change</button>
        <!-- Cancel button -->
        <button (click)="modeChangeEvent.emit(1)" class="btn btn-danger editButtons" id="cancelEditButton">Cancel</button>
    </div>
</div>