.labelTypeTitle {
  font-size: 17px;
  letter-spacing: 1px;
}

.descriptionTitle{
  font-size: 19px;
  padding-bottom: 2px;
  height: 28px;
}
.descriptionText{
  max-height: 20vh;
  font-size: 16px;
  overflow-y: scroll;
}

/*TODO: For some reason the variable defined in the root stylesheet is not working*/
.labelDescription {
  border-left: 2px solid #ed5a06;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#labelThing{
  overflow-y: scroll;
  max-height: 40vh;
}

#remark{
  max-height: 29vh;
}

#labelling-row {
  margin-top: 5px;
}

