<form [formGroup]="labelForm">
  <div class="row">
    <div class="col-4">
        <!-- Title of the labelType -->
        <div class = "labelTypeTitle">
            <span>{{ labelType?.getName() }}</span>
        </div>
        <!-- List of available labels -->
        <form>
            <label for="typeahead-focus">Search for a label:</label>
            <input 
                id="typeahead-focus-label" 
                type="text" 
                name="label" 
                class="form-control" 
                [(ngModel)]="model"
                [ngbTypeahead]="searchLabel" 
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)" 
                (selectItem)="clickLabel($event)"
                #instance="ngbTypeahead" />
        </form>
    </div>
    <div class="col-4" >
        <!-- Description of the labelType -->
        <div class = "labelDescription">
            <div class="descriptionTitle">
                <p>Description</p>
            </div>
            <div class="descriptionText">
                <p>{{ selectedDesc }}</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <!-- Remark box -->
        <textarea class="form-control" rows="4" placeholder="Remark" id="remark" formControlName="remark" id="description"></textarea>
    </div>
  </div>
</form>

