// Color variables
$orange-shade: #ed5a06;

// Changes the color of the button to orange
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: $orange-shade  !important;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// texts above each of the forms indicating what the form is for
#field_text {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

// Description field of the user
#description {
    resize: none;
}