/* You can add global styles to this file, and also import other style files */
// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

// Changes the color of the button to orange
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $orange-shade !important;
}
// texts above each of the forms indicating what the form is for
#field_text{
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

// Ensures that the content is not entirely at the top of the page
.middle-col{
    margin-top: 10vh;
}

// Sets layout of the error message that is displayed when register input is incorrect
#error-msg{
  color: $orange-shade;
  font-size: 15px;
}
