<!-- Main bootstrap container covering the page -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="main_body">

    <!--Title Row-->
    <div class="row" id="topRow">
        <div class="col">
            <p class="header">Artifact Management</p>
        </div>
        <!--Add Artifact Button-->
        <div class="col">
            <button type="button" class="btn btn-secondary" id="addArtifactButton" routerLink="/home">
                Add Artifact
                <svg class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
    </div>

    <!--Content Row-->
    <div class="row align-items-center" id="main_row">
        <!--For loop through data array-->
        <div class='artifactGroup' *ngFor="let artifact of artifacts">
            <!--Container for each artifact-->
            <div class="container" id="singleArtifact">
                <div class="row align-items-center" id="artifactId">
                    <div class="col" id="artifact-id-column">
                        <p class="artifactID">Artifact {{artifact.id}}</p>
                    </div>
                </div>
                <!--Artefact Text-->
                <div class="row justify-content-center" id="textAndNumber">
                    <div class="col-11" id="text-timesLabelled-column">
                        <p class="artifactText">{{artifact.text}}</p>
                    </div>
                     <!--Times Labelled-->
                    <div class="col-1">
                        <p class="timesLabelled">{{artifact.timesLabelled}}</p>
                    </div>
                </div>
                <!--Line Separator-->
                <div class="row justify-content-center" id="horizontalLineRow">
                    <div class="col-6"></div>
                    <hr class="horizontalLine" style="height:1px; width:95%; border-width:0px;">    
                </div>
                
            </div>

            
        </div>
        

    </div>
    
    
</div>