// Color variables
:root {
    --main-color-1: #ED5A06;
    --main-color-2: #38474e;
}
body{
    overflow-y: hidden;
}
// TOP BAR
#topBarRow{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}
// Header saying "Artifact Management"
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}
// Add Artifact button 
#addArtifactButton{
    float: right;
    margin-right: 10px;    
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: var(--main-color-2);
    color: black;
}
// Add Artifact button plus
svg.bi.bi-plus{
    width: 22px;
    height: 22px;
}
#horizontalLineRow{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#horizontalLineColumn{
    padding-right: 0px;
}

//New Table version styles

#tableRow{
    padding-top: 20px;
}
p.artifactID{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 480;
}
p.artifactText{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    padding-left: 20px;
}
p.timesLabelled{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
p.idHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space:nowrap;
    font-weight: 500;
}
p.artifactHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    
}
p.timeslabelledHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;   
    white-space:nowrap;
    font-weight: 500;
}
//table hovering color
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:#ed5b0618;
  }