// Color variables
:root {
    --main-color-1: #ED5A06;
    --main-color-2: #38474e;
}
body{
    overflow-y: hidden;
}
// TOP BAR
#topBarRow{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}
// Header saying "Artifact Management"
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}
// Add Artifact button 
#addArtifactButton{
    float: right;
    margin-right: 10px;    
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: var(--main-color-2);
    color: black;
}
// Add Artifact button plus
svg.bi.bi-plus{
    width: 22px;
    height: 22px;
}
#artifactId {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: rgba(17, 34, 44, 0.88);
}
#textAndNumber {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#horizontalLineRow{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#horizontalLineColumn{
    padding-right: 0px;
}
p.timesLabelled{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
p.artifactText{
    padding-right: 0px;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}
#main_row{
    padding-top: 50px;
}
#searchContainerCol{
    padding-left:0px ;
    padding-bottom: 20px;
}

// Division around artifacts
div.allArtifacts{
    margin: 4px 120px 4px 4px;
    padding: 4px;
    height: 80vh;
    overflow-y: scroll;
}
// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e; 
    border-radius: 10px;
}

