// Author BJ
// Author Veerle Furst

// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;
$light-grey-shade: #aaaaaa;

// Body of the page
#body {
    height: 100vh;
    overflow-y: scroll;
}

// Header of the page
#pageTitle {
    padding-top: 10px;
    font-size: 36px;
    letter-spacing: 1px;
}

// Button for adding themes
#createThemeButton {
    background-color: $white-shade;
    color: black;
    border: 2px solid;
    border-color: $grey-shade;
}

// Button for theme visualization
#themeVisButton {
    background-color: $orange-shade;
    color: $white-shade;
    border-color: $orange-shade;
}

// The plus for creating a theme
.bi.bi-plus.createTheme {
    color: black;
    margin-left: 5px;
}

// Div for the button for adding themes
.buttonsDiv {
    padding-top: 10px;
}

// Make the headers clickable
.clickable:hover {
    cursor: pointer;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar-track {
    background: $white-shade;
    border-radius: 10px;
}

// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $grey-shade;
    border-radius: 10px;
}

// for the dynamic search bar
.search {
    &__container {
        padding-top: 7px;
    }

    &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;

        background-image: url(search_heart.svg); // Search icon with heart in the middle
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
            cursor: pointer;
        }
    }
}