// BJ
// Veerle Furst

// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;
$light-grey-shade: #aaaaaa;

// Body of the page
#body {
    height: 100vh;
    overflow-y: scroll;
}

// Header of the page
#pageTitle {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 36px;
    letter-spacing: 1px;
}

// Button for adding themes
#createThemeButton{
    background-color: $white-shade;
    border: 2px solid;
    border-color: $grey-shade;
    color: black;
}
// The plus for creating a theme
.bi.bi-plus.createTheme{
    color: black;
    margin-left: 5px;
}

// Div for the button for adding themes
#addButton {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid; 
}

.subTitle {
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.theme {
    margin-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: $grey-shade;
}

// Centers the pagination to the middle of the page
#center-pagination {
    display: flex; 
    justify-content: center;
}

//Scroll Related Business
.my-custom-scrollbar {
    position:relative;
    height: 80vh;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }
//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: $white-shade; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $grey-shade; 
    border-radius: 10px;
}
// Scroll bar
#scrolly{
    padding-right: 40px;
    height: auto;
}

// for the dynamic search bar
.search {
    &__container {
        padding-top: 7px;
    }
    
    &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;

        //TODO: replace with icon
        //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-image: url(search_heart.svg);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}
