<!-- @author: Bartjan Henkemans -->
<!-- @author: Veerle Furst -->
<!-- @author: Thea Bradley -->

<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <div class="row" >
        <div class="col-10 header" id="pageTitle"> 
            Theme Management
        </div>
        <!-- Create theme button -->
        <div class="col-2" id="addButton">
            <button class="form-control btn btn-secondary" id="createThemeButton" (click)="reRouter('createTheme')">Create Theme<i class="bi bi-plus createTheme"></i></button>   
        </div>
    </div>

    <!-- row containing the search bar -->
    <div class="row">
        <div class="col-5">
            <div class="search__container">
                <form [formGroup]="searchForm">
                    <input class="search__input" type="text" placeholder="Search" formControlName="search_term" (keyup.enter)="onEnter()">
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-9">
            <table class="table table-hover">
                <!-- Headers for all themes -->
                <thead>
                    <tr>
                        <th scope="col" (click)="sortName();"><span class="clickable">Name</span></th>
                        <th scope="col" (click)="sortDesc();"><span class="clickable">Description</span></th>
                        <th scope="col" (click)="sortLabels();"><span class="clickable">Labels</span></th>                
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let theme of themes" (click)="reRouterTheme('singleTheme', theme.getId())">
                        <td>{{ theme.getName() }}</td>
                        <td> {{ theme.getDesc() }}</td>
                        <td> {{ theme.getNumberOfLabels() }} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    
</div>
