// Veerle Fürst

// Color variables
$main-color-1: #ED5A06;
$grey-shade: #38474e;
$light-grey-shade: #aaaaaa;
$white-shade: #FFFFFF;

// Body
body{
    color: $grey-shade;
    font-size: 15px;
    letter-spacing: 1px;
}

// TOP BAR
// Container
#topBarContainer{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}
// Row of the top bar
#topBarRow{
    margin-bottom: 20px;
}

// Division around all the conflicts
.conflictDiv{
    margin: 4px 10px 4px 4px;
    padding: 4px;
    height: 80vh;
    overflow-y: scroll;
}
// Header
.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}
// Divisions for each conflict
.conflictDivs{
    margin: 2% 2% 2% 2%;
    padding: 10px 5px 10px 5px;
    border-bottom: 2px solid $light-grey-shade;
}
// Name of the artifact
.artifactName{
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0px;
    padding: 5px 12px;
}
// Resolve button for each conflict
#resolveConflictButton{
    background-color: $main-color-1;
    border: none;
    margin-top: 20px;
    width: 125px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// SCROLLBAR
// Scrollbar general
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $grey-shade; 
    border-radius: 10px;
}