<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row" id="topBarContainer">
        <!-- Row of the top bar -->
        <div class="col" id="topBarRow">
            <!-- Header with Conflict name -->
            <p class="header"> Conflicts </p>
        </div>
    </div>

    <div class="conflictDiv">
        <div class="container">
            <!-- Div for each conflicting artifact -->
            <div *ngFor="let conflict of conflicts" class="conflictDivs">
                <!-- Row with name of artifact -->
                <div class="row">
                    <p class="artifactName">{{"Artifact " + conflict.conflictName + " - " + conflict.conflictLT}}</p>
                </div>
                <!-- Row with description of artifact and resolve button -->
                <div class="row">
                    <!-- Column for artifact description -->
                    <div class="col">
                        {{conflict.conflictData}}
                    </div>
                    <!-- Column with resolve button -->
                    <div class="col-3 text-center">
                        <button class="btn btn-secondary" id="resolveConflictButton" 
                        (click)="reRouter(conflict.conflictName, conflict.conflictLTid, conflict.conflictLT)" >
                            Resolve
                        </button>
                    </div>
                </div>
                <!-- Row for the users within the conflict -->
                <div class="col-12">
                    <span class="col text-end" id="users"> Conflicting users: </span>
                    <span  *ngFor="let user of conflict.conflictUsers; last as isLast">
                        {{user.username}}<span *ngIf="!isLast">,</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
