<!-- @author Jarl -->

<!-- Container which will hold the nav menu and main content -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="cont">
    <div class="row" id="row-markup">

        <!-- Places the router outlet with the navigation bar on the page -->
        <router-outlet name="side-nav"></router-outlet>

        <!-- Places the router outlet with main content on the page -->
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
