// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;
$light-grey-shade: #aaaaaa;

// Main container
#main-cont {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

// Page Header container
#titleRow {
    padding-bottom: 20px;
}

// Page Title
#pageTitle {
    font-size: 35px;
    padding-top: 10px;
    text-align: left;
    letter-spacing: 1px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: $light-grey-shade;
}

// Top Half container
#topHalfRow {
    padding-left: 10px;
}

// TOP LEFT
// Top left container
#topLeftCol {
    padding-right: 200px;
}

// Name Column
#name {
    border-bottom: 1px;
    border-bottom-style: solid;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

// Label Count Header
#labelCount {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

// ArtifactCount Header
#artifactCount {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

// Parent-Themes Header
#parentThemes {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

//Container for parent theme scroll
#parentThemesScroll {
    overflow-y: scroll;
    height: 10vh;
}

//Content text of multipl sections in top left part
#parentThemesText,
#themeNameText,
#labelCountText,
#artifactCountText,
#subThemesText {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-top: 2px;
}

// Make childern names hoverable
#subThemesText:hover,
#parentThemesText:hover {
    cursor: pointer;
}

//Sub-ThemesHeader
#subThemes {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

//Container for sub theme scroll
#subThemesScroll {
    overflow-y: scroll;
    height: 10vh;
}

// Description area
#themeDescription {
    resize: none;
}

//TOP RIGHT
//Top right container
#topRightCol {
    padding-left: 50px;
    padding-right: 50px;
}

//Labels Header 
#labelsHeader {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 1px;
    border-bottom-color: $orange-shade;
}

// Artifact text and remarks
#artifactText,
#artifactRemark {
    font-size: 14px;
    font-weight: 400;
}

//Artifact Remark Header
#artifactRemarkHeader {
    font-size: 15px;
    font-weight: 500;
}

//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar-track {
    background: $white-shade;
    border-radius: 10px;
}

// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $grey-shade;
    border-radius: 10px;
}

// Scrolling for the accordion
#accordionScroll {
    overflow-y: scroll;
    height: 35vh;
}

// Edit Button
#editButton {
    background-color: $orange-shade;
    margin-left: 10px;
    border: none;
    width: 150px;
}

// Cancel button
#btns-cancel-submit,
#deleteButton {
    border: none;
    width: 150px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// Row for the buttons
.buttonRow {
    width: 100%;
}

// Changes the cursor of the user when hovering
#history-hover {
    cursor: pointer;
}