<!-- @author: Chinno Lavin -->
<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <!-- Page Header -->
    <div class="row header">
        <div class="col-10 header" id="pageTitle"> 
            {{createEditThemeHeader}} Theme
        </div>
    </div>

    <!-- Row for the name and description -->
    <div class="row">
        <!-- Left side of top half -->
        <div class="col-6">
            <!-- Row for name and labels -->
            <div class="row">

                <!-- Theme name section -->
                <div class="col-sm-12">
                    <!-- Name header -->
                    <div class="nameHeader">
                        Name
                    </div>
                    <!-- Input form for name -->
                    <div id="nameInputCol">
                        <form [formGroup]="themeForm">
                            <input class="form-control" formControlName="name" id="nameForm" type="text" placeholder="Name" required><br>
                        </form>
                    </div>
                </div>   
            </div> 
        </div>

        <!-- Right side of top half -->
        <div class="col-6">
            <!-- Row for description and subthemes -->
            <div class="row" id="topRight">
                <!-- Description section -->
                <div class="col-sm-12">
                    <!-- Description header -->
                    <div class="nameHeader">
                        Description
                    </div>
                    <!-- Input for the description -->
                    <form [formGroup]="themeForm">
                        <textarea class="form-control" placeholder="Description" id="descriptionArea" formControlName="description"></textarea>
                    </form>
                </div>             
            </div>
        </div>
    </div>

    <!-- Row for the list of labels and sub-themes -->
    <div class="row">
        <!-- Displays all labels section -->
        <div class="col-6">
            <!-- Labels header -->
            <div class="nameHeader">                 
                Labels
            </div>
            <!-- List of all labels -->
            <div id="allLabelsList">
                <div *ngFor="let label of addedLabels">
                    <span id="addedLabels">{{label.getName()}}</span>
                    <!-- Column for delete icon -->
                    <button class="btn x" type="button" (click)="removeLabel(label)">
                        <!-- Plus icon -->
                        <span class="bi bi-x">                                  
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sub-themes section -->
        <div class="col-6">
            <!-- Sub-themes header -->
            <div class="nameHeader">
                Sub-Themes
            </div>
            <!-- Sub-theme list from data -->
            <div id="addedSubthemesList">
                <div *ngFor="let subtheme of addedSubThemes">
                    <span id="addedSubthemes">{{subtheme.getName()}}</span>
                     <!-- Column for delete icon -->
                     <button class="btn x" type="button" (click)="removeSubtheme(subtheme)">
                        <!-- Plus icon -->
                        <span class="bi bi-x">                                  
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Bottom Half -->
    <div class="row" id="bottomHalf">
        <div class="col-6">

            <!-- Add Labels Section --> 
            <div class="nameHeader">
                Add Labels
            </div>
            <div class="row">
                <!-- Add Labels Left side -->
                <!-- TODO Filtering and Searching -->
                <div class="col-sm-6">
                    <!-- Table for showing all labels -->
                    <table class="table table-borderless">
                        <tbody>
                            <div id="divScroll">
                                <!-- Click shows clicked labels description and highlights it-->
                                <tr *ngFor="let label of allLabels" (click)="displayDescriptionLabel(label)" (click)="highlightLabel(label)"  [class.highlighted]="label.getName() === highlightedLabel">
                                    <td>
                                        <span class="addLabelsText">
                                            {{label.getName()}}
                                        </span>
                                        <!--  Add label button -->
                                        <button class="btn" type="button" (click)="addLabel(label)">
                                            <!-- Plus icon -->
                                            <span class="bi bi-plus">                                  
                                            </span>
                                        </button>
                                    </td>                                 
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
                <!-- Add Labels right side Description part -->
                <div class="col-sm-6">
                    <p id="labelDescription">Description:</p>
                    <div id="descriptionScroll">
                        <div *ngIf="selectedDescriptionLabel != null">
                            <p class="labelDescriptionText">{{selectedDescriptionLabel}}</p>
                        </div>
                    </div>
                </div>
            </div>          
        </div>

        <!--bottom half right side--> 
        <div class="col-6"> 

            <!-- Add Sub-Themes Section --> 
            <div class="nameHeader">
                Add Sub-Themes
            </div>
            <div class="row">
                <div class="col-sm-6">                    
                    <!-- Table for showing all Sub-Themes -->
                    <table class="table table-borderless">
                        <tbody>
                            <div id="divScroll">
                                <!-- Click shows clicked Subtheme and highlights it-->
                                <tr *ngFor="let subtheme of allSubThemes" (click)="displayDescriptionTheme(subtheme)" (click)="highlightSubtheme(subtheme)" [class.highlighted]="subtheme.getName() === highlightedSubtheme">
                                    <td>
                                        <span class="addSubthemeText">
                                            {{ subtheme.getName() }}
                                        </span>
                                        <!--  Add subtheme button -->
                                        <button class="btn" type="button" id="addsubthemeButton" (click)="addSubtheme(subtheme)">
                                            <!-- Plus icon -->
                                            <span class="bi bi-plus">                                  
                                            </span>
                                        </button>
                                    </td>                                 
                                </tr>
                            </div>
                        </tbody>
                    </table> 
                </div> 

                <!-- Add themes right side Description part -->
                <div class="col-sm-6">
                    <p id="labelDescription">Description:</p>
                    <div id="descriptionScroll">
                        <div *ngIf="selectedDescriptionTheme != null">
                            <p class="labelDescriptionText">{{selectedDescriptionTheme}}</p>
                        </div>
                    </div>
                </div>    
            </div>  
        </div>
    </div>

    <!--Page Footer--> 
    <div class="row">
        <!-- Error message -->
        <div class="col-6">
            <div *ngIf="errorMsg" id="error-msg"><span id="errorMessage">{{errorMsg}}</span></div>
        </div>
        <!--Create/Cancel buttons--> 
        <div class="col-6 align-self-end" id="createCancelButtons">
            <div>
                <!-- Create button -->
                <button class="form-group btn btn-primary float-end" (click)="createTheme()" id="saveButton">Save</button> 
                <!-- Cancel button -->
                <button class="form-group btn btn-secondary float-end" id="cancelButton" (click)="reRouter()">Cancel</button>
            </div>
        </div>
    </div>
</div>
