// <!-- Author: Victoria Bogachenkova -->
// Title of the page
.title {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    font-size: 36px;
    letter-spacing: 1px;
}

// Subtitles on the page
.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}

// Each container
.container {
    margin-bottom: 10px;
}

// width of label type depends on input
#label-type.form-control {
    width: auto;
}

