// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;
$light-grey-shade: #bfbfbf;

// Header above the input fields
#header {
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

// Markup of text above form fields
#field_text {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

// Orange underlined text
#orangUnderlinedText {
    color: $orange-shade;
    text-decoration: underline;
    cursor: pointer;
}

// Buttons
.editButtons {
    border: none;
    float: right;
    width: 150px;
}

// Cancel edit button
#cancelEditButton {
    margin-right: 20px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// Columns of the information
.col-8 {
    padding-top: 2%;
    padding-bottom: 2%;
}

// Text field for personal description
#description {
    resize: none;
}