<!-- Linh Nguyen -->

<div class="modal-header">
    <!-- Main title for modal -->
    <h4 class="modal-title">Choose the users to add to the project</h4>
    <!-- Close modal -->
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div id="overflow-modal">
    <!-- Listing of users (other than current user) -->
    <div class="modal-body row" *ngFor="let user of users" (click)="addUser(user)" id="user-modal-rows">
        <div class="col" id="username-modal-col">
          <li> {{ user.getUsername() }}</li>
        </div>
        <!-- Col for adding users button -->
        <div class="col-2">
            <!-- Button for adding new project_members -->
            <button class="btn" type="button" id="addMembersButton" (click)="addUser(user)">
              <!-- Plus icon -->
              <i class="bi bi-plus labelType" id="popup-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>