//Linh Nguyen
// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

/* Icon related markup */
// Plus icon
.bi.bi-plus {
    font-size: 24px;
    color: $grey-shade;
}

// Cross icon next to member name
.bi.bi-x {
    font-size: 20px;
    color: $grey-shade;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

/* SCSS related to the add user modal */
// Row displaying the various users
#user-modal-rows {
    padding: 5px 16px;
    max-height: 35px;
}

// ensures that the modal doesnt become too large, does scrolling instead
#overflow-modal {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

// Column holding the username of the users to be added
#username-modal-col {
    padding: 15 1 1 1px;
    list-style: none;
    max-height: 25px;
}

// Button for adding members
#addMembersButton {
    background-color: $white-shade;
    width: 30px;
    padding: 0px;
    border: none;
    margin-top: -10px;
}

// Changes the size of the plus icon in the add members popup.
#popup-plus {
    font-size: 20px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}