<!-- Victoria Bogachenkova -->
<!-- Veerle Fürst -->

<body>
    <!-- Top bar of the page -->
    <div class="container" id="topBarRow">
        <div class="row">
            <!-- Column for the header -->
            <div class="col">
                <!-- Header saying "Projects" -->
                <p class="header"> Projects </p>
            </div>
            <!-- Column for the adding project button -->
            <div class="col">
                <!-- Settings icon -->
                <a [href]="['\account']">
                    <i class="bi bi-person-circle" ></i>
                </a>
                <!-- Create project button -->
                <button type="button" class="btn btn-secondary" id="createProjectButton" routerLink="/createProject">
                    <span id="createProjectText">Create project</span>
                    <!-- Plus icon -->
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Show all projects in divisions -->
    <div class="allProjects">
        <div class='projectParagraph' *ngFor="let project of projects" [routerLink]="['/project']">
            <div class="container">
                <!-- Row for each project -->
                <div class="row align-items-center">

                    <!-- Column for each project name -->
                    <div class="col" id="projectNameColumn">
                        <!-- Shows project name, artifact progress bar, and number of users -->
                        <p class="projectName"> {{project.name}} </p>
                    </div>

                    <!-- Column for progress bar and values-->
                    <div class="col">
                        <!-- Progress bar -->
                        <div class="progress">
                            <!-- Calculating progress bar and other values -->
                            <div class="progress-bar" role="progressbar" attr.aria-valuenow = {{project.numberOfCLArtifacts}}
                            aria-valuemin="0" attr.aria-valuemax={{project.numberOfArtifacts}} 
                            [style.width]="(project.numberOfCLArtifacts / project.numberOfArtifacts)*100 + '%'"
                            style="background-color:#ED5A06 !important;"> 
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        {{project.numberOfCLArtifacts}} / {{project.numberOfArtifacts}}
                    </div>

                    <!--  Column for whether user is admin or not -->
                    <div class="col-1">
                        <div *ngIf="project.admin">
                            <i class="bi bi-key"></i> 
                            <!-- Admin -->
                        </div>
                    </div>
                    
                    <!-- Column for whether project is frozen or not -->
                    <div class="col-1">
                        <div *ngIf="project.frozen">
                            <!-- Snow icon -->
                            <i class="bi bi-snow"></i>
                        </div>
                    </div>

                    <!-- Column for number of users -->
                    <div class="col-2">
                        <!-- Member icon -->
                        <i class="bi bi-person"></i>
                        <span class='numberOfUsers'>{{project.numberOfUsers}}</span>
                    </div>

                    <!-- Row for project description -->
                    <div class="row">
                        <!-- Shows project description -->
                        {{project.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
