// Main title
.title {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    font-size: 36px;
    letter-spacing: 1px;
}

// Smaller subtitles
.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}

// Containers
.container {
    margin-bottom: 10px;
}

// The width of the label type box
#label-type.form-control {
    width: auto;
}

// width of the option
option {
    max-width:10%;
}

// The buttons at the bottom row
#buttons-cancel-submit {
    margin-top: 10px;
}

// Buttons at bottom
#btns-cancel-submit {
    margin-left:10px;
}
