.title {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    font-size: 36px;
    letter-spacing: 1px;
}

.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}

.container {
    margin-bottom: 10px;
}

#label-type.form-control {
    width: auto;
}

option {
    max-width:10%;
}

#buttons-cancel-submit {
    margin-top: 10px;
}

#btns-cancel-submit {
    margin-left:10px;
}
