<!-- Author: Victoria Bogachenkova -->
<body>
    <div class="container alignValues" id="topBarRow">
        <div class="row">
            <div class="col">
                <!-- Header -->
                <p class="header">Label Management</p>
            </div>
            <div class="col">
            <!-- Buttons for creating and adding labels -->
                <button type="button" class="btn btn-secondary" id="createLabelButton" (click)="openCreate()" >
                    Create label
                    <i class="bi bi-plus"></i>
                </button>                
                <button type="button" class="btn btn-secondary" id="mergeLabelButton" (click)="openMerge()">
                    Merge labels
                    <i class="bi bi-plus"></i>
                </button>                
            </div>
        </div>
    </div>

    <!-- DOESN'T WORK - SHOULD BE REPLACED -->
    <div class="SearchContainer alignValues row">
        <div class="input-group rounded column">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
    </div>


    <!--Row containing Artifacts Table-->
    <div class="row" id="tableRow">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="scrolly">
                <table class="table table-hover" id="labelsTable">
                    <!--Table Headers-->
                    <thead>
                        <tr>
                            <th scope="col"><p class="labelheader">Label</p></th>
                            <th scope="col"><p class="labelheader">Label Type</p></th>
                            <th scope="col"><p class="labelheader">Artifacts Labelled</p></th>
                        </tr>
                    </thead>
                    <!--Table Content-->
                    <tbody  routerLink="/singlelabel">
                        <tr *ngFor="let label of labels |  slice: (page-1) * pageSize : page * pageSize">
                            <td><p class="tablecontent">{{label.labelName}}</p></td>
                            <td><p class="tablecontent">{{label.labelType}}</p></td>
                            <td><p class="tablecontent">{{label.labeledArtifacts}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Pagination -->          
            <div id="center-pagination">
                <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="labels.length">
                </ngb-pagination>
            </div>
        </div>
    </div>
</body>
