<body>
    <div class="container alignValues" id="topBarRow">
        <div class="row">
            <div class="col">
                <p class="header">Label Management</p>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="createLabelButton" (click)="openCreate()" >
                    Create label
                    <i class="bi bi-plus"></i>
                </button>                
                <button type="button" class="btn btn-secondary" id="mergeLabelButton" (click)="openMerge()">
                    Merge labels
                    <i class="bi bi-plus"></i>
                </button>                
            </div>
        </div>
    </div>

    <div class="SearchContainer alignValues row">
        <div class="input-group rounded column">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
    </div>


    <form>
        <!-- <div class="mb-3 row">
          <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm">
          </div>
          <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
        </div> -->
      
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" sortable="name">Label</th>
            <th scope="col" sortable="area">Label Type</th>
            <th scope="col" sortable="population">Artifacts Labelled</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let label of labels">
            <th scope="row">{{ label.labelName }}</th>
            <td>
              <ngb-highlight [result]="label.labelName"></ngb-highlight>
            </td>
            <td><ngb-highlight [result]="label.labelType"></ngb-highlight></td>
            <td><ngb-highlight [result]="label.labeledArtifacts | number"></ngb-highlight></td>
          </tr>
          </tbody>
        </table>
      
        <!-- <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
      
          <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div> -->
      
      </form>
</body>
