// Color variables
:root {
    --main-color-1: #ED5A06;
    --main-color-2: #38474e;
}

// Body
body{
    color: var(--main-color-2);
}

// TOP BAR
.alignValues{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}
// Header saying "Projects"
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}
// CREATE LABEL
// Create label button on Label Management Page
#createLabelButton, #mergeLabelButton{
    float: right;
    margin-right: 10px;    
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: var(--main-color-2);
    color: black;

}
// Create project button on hover
#createLabelButton:hover, #createLabelButton:focus, #createLabelButton:active{
    background-color: rgb(222, 222, 222);
}
#mergeLabelButton:hover, #mergeLabelButton:focus, #mergeLabelButton:active{
    background-color: rgb(222, 222, 222);
}
.SearchContainer{
    max-width: 30%;
}
// Create button plus
svg.bi.bi-plus{
    width: 22px;
    height: 22px;
}
// Color variables
:root {
    --main-color-1: #ED5A06;
    --main-color-2: #38474e;
}

// TOP BAR
#topBarRow{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}

#tableRow {
    padding-top: 2em;
}

#horizontalLineRow{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#horizontalLineColumn{
    padding-right: 0px;
}

//New Table version styles
p.labelName{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 480;
}
p.labelType{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    padding-left: 20px;
}
p.artifactsLabelled{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
p.labelHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space:nowrap;
    font-weight: 500;
}

p.labelTypeHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space:nowrap;
    font-weight: 500;
}

p.artifactsLabelledHeader{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;   
    white-space: nowrap;
    font-weight: 500;
}
//table hovering color
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:#ed5b0637;
  }
// Pagination Color
ngb-pagination ::ng-deep a {
    color:#ED5A06 !important;
}  
ngb-pagination ::ng-deep .page-item.active .page-link {
border-color: #1C5858;
background-color: white;
}
ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
box-shadow: 0 0 0 0.1rem dimgrey;
}
ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
box-shadow: 0 0 0 0.1rem dimgrey;
}
#paginationCol{
    padding-top: 20px;
}

//Scroll Related Business
.my-custom-scrollbar {
    position:relative;
    height: 80vh;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }
//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e; 
    border-radius: 10px;
}
#scrolly{
    padding-right: 40px;
}
body{
    overflow-x:hidden;
}
