// Color variables
:root {
    --main-color-1: #ED5A06;
    --main-color-2: #38474e;
}

// Body
body{
    color: var(--main-color-2);
}

// TOP BAR
.alignValues{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}
// Header saying "Projects"
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}
// CREATE LABEL
// Create label button on Label Management Page
#createLabelButton, #mergeLabelButton{
    float: right;
    margin-right: 10px;    
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: var(--main-color-2);
    color: black;

}
// Create project button on hover
#createLabelButton:hover, #createLabelButton:focus, #createLabelButton:active{
    background-color: rgb(222, 222, 222);
}
#mergeLabelButton:hover, #mergeLabelButton:focus, #mergeLabelButton:active{
    background-color: rgb(222, 222, 222);
}
.SearchContainer{
    max-width: 30%;
}
// Create button plus
svg.bi.bi-plus{
    width: 22px;
    height: 22px;
}

.label {
    position: relative;
}
  
.label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }