<!-- Author: Bartjan Henkemans -->

<form [formGroup]="labelForm" class="container" id="body">
    <div class="row modal-header" class="title">
        <div *ngIf="label === undefined" class="col-12">
            Create Label
        </div>
        <div *ngIf="label !== undefined" class="col-12">
            Edit Label
        </div>
    </div>
    <div class="row modal-body">
        <div class="col-6">
            <div>
                <div class="subTitle">Label type</div>
                <div *ngIf="label === undefined" class="form-group">
                    <select class="form-select" formControlName="labelType">
                        <option *ngFor="let labelType of labelTypes" [ngValue]="labelType">{{labelType.getName()}}</option>
                    </select>
                </div>
                <div *ngIf="label !== undefined" class="form-group">
                  {{label.getType()}}
              </div>
            </div>
            <div>
                <div class="subTitle">Label name</div>
                <input type="text" class="form-control" placeholder="Name" formControlName="labelName">
            </div>
        </div>
        <div class="col-6">
            <div>
                <div class="subTitle">
                    Description
                </div>
                <div>
                    <textarea class="form-control" rows="8"
                              placeholder="Description"
                              id="description"
                              formControlName = "labelDescription">
                    </textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="form-group">
            <!-- Edit/submit button -->
            <button *ngIf="label === undefined" class="btn btn-primary float-end" (click)="submit()" id="btn-submit">Submit</button>
            <button *ngIf="label !== undefined" class="btn btn-primary float-end" (click)="submit()" id="btn-edit">Edit</button>
            <!-- Cancel button -->
            <button class="btn btn-secondary float-end" (click)="activeModal.close()" style="margin-left:10px;" id="btn-cancel">Cancel</button>
        </div>
    </div>
</form>

