<h1>This is the test component (will be removed later): </h1>

<p>{{text}}</p>

<h3>Registration Form</h3>
<form id="registrationForm" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="description">Description:</label><br>
  <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
</form>
<button (click)="register()">Register</button>

<p id="registrationResponse"></p>

<!-- <h3>Register</h3>
<button (click)="register()">Register</button>
<div id="register"></div> -->

<h3>Get request output:</h3>
<button (click)="getrequest()">Do get request</button>
<div id="get_output"></div>