<!-- Account information division -->
<div *ngIf="!edit && !editPassword" class="container-fluid min-vh-100 d-flex flex-column">
    <div class="container">
        <!-- Row for account details-->
        <div class="row">
            <div class="col-8 offset-2">
                <div id="header">
                    Account details
                </div>
            </div>
        </div>
        <!-- Row for username -->
        <div class="row">
            <div class="col-8 offset-2">
                <b id="boldText">Username:</b>
                <hr>
                <span id="infoText">{{ user.getUsername() }}</span>
            </div>
        </div>
        <!-- Row for user email -->
        <div class="row">
            <div class="col-8 offset-2">
                <b id="boldText">Email:</b>
                <hr>
                <span id="infoText">{{ user.getEmail() }}</span>
            </div>
        </div>
        <!-- Row for user description -->
        <div class="row">
            <div class="col-8 offset-2">
                <b id="boldText">Description:</b>
                <hr>
                <span id="infoText">{{ user.getDescription() }}</span>
            </div>
        </div>
        <!-- Row for edit button -->
        <div class="row">
            <div class="col-8 offset-2 text-right">
                <!-- Edit button -->
                <button (click)="edit = !edit" class="btn btn-primary infoButtons">Edit information</button>
                <!-- Back button -->
                <button [routerLink]="['/home']" class="btn btn-danger infoButtons" id="backButton">Back</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit division -->
<ng-container *ngIf="edit">
    <app-edit-account-settings [user]="user" (editEvent)="changeEdit($event)"></app-edit-account-settings>
</ng-container>



<!-- Edit password division -->
<div *ngIf="editPassword" class="container-fluid min-vh-100 d-flex flex-column">
    <!-- Row for the header -->
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <div id="header">Changing your password</div>
        </div>
    </div>
    <!-- Row for the form -->
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <!-- For for user information -->
            <form id="passwordEditForm">
                <!-- Password field -->
                <div class="form-group">
                    <label id="field_text">Password:</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <!-- New password field -->
                <div class="form-group">
                    <label id="field_text"> New password:</label>
                    <input type="password" class="form-control" placeholder="New password" name="newPassword">
                </div>
                <!-- Repeat new password field -->
                <div class="form-group">
                    <label id="field_text"> Repeat new password:</label>
                    <input type="password" class="form-control" placeholder="Repeat new password" name="newPasswordR">
                </div>
            </form>

        </div>
    </div>
    <!-- Row for the error message -->
    <div class="row">
        <div class="col offset-2">
            <div *ngIf="errorMsg" id="infoMessage">{{errorMsg}}</div>
        </div>
    </div>
    <!-- Row for buttons -->
    <div class="row">        
        <div class="col-8 offset-2 text-right">
            <!-- Edit button -->
            <button (click)="editPasswordF()" type="submit" class="btn btn-primary editButtons">Change</button>
            <!-- Cancel button -->
            <button (click)="editPassword = !editPassword" class="btn btn-danger editButtons" id="cancelEditButton">Cancel</button>
        </div>
    </div>
</div>