<ng-container *ngIf="mode==0">
    <app-account-information [userAccount]="user" (modeChangeEvent)="modeChange($event)"></app-account-information>
    <div *ngIf="errorMsg">{{errorMsg}}</div>
</ng-container>

<!-- Edit division -->
<ng-container *ngIf="mode==1">
    <app-edit-account-settings [userAccount]="user" (modeChangeEvent)="modeChange($event)"></app-edit-account-settings>
</ng-container>

<!-- Change password -->
<ng-container *ngIf="mode==2">
    <app-account-change-password [userAccount]="user" (modeChangeEvent)="modeChange($event)"></app-account-change-password>
</ng-container>

