<!-- Author: Victoria Bogachenkova, Thea Bradley -->
<div class="container-fluid min-vh-100 d-flex flex-column alignValues" id="topBarRow">
    <div class="row">
        <div class="col">
            <!-- Header -->
            <p class="header">Label Management</p>
        </div>
        <div class="col">
        <!-- Buttons for creating and adding labels -->
            <button type="button" class="btn btn-secondary" id="createLabelButton" (click)="openCreate()" >
                Create label
                <i class="bi bi-plus"></i>
            </button>
            <button type="button" class="btn btn-secondary" id="mergeLabelButton" (click)="openMerge()">
                Merge labels
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </div>

    <!-- Row containing the search bar  -->
    <div class="row">
        <div class="col-5">
            <div class="search__container">
                <form [formGroup]="searchForm">
                    <input class="search__input" type="text" placeholder="Search" formControlName="search_term" (keyup.enter)="onEnter()">
                </form>
            </div>
        </div>
    </div>


    <!--Row containing Artifacts Table-->
    <div class="row" id="tableRow">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="scrolly">
                <table class="table table-hover">
                    <!--Table Headers-->
                    <thead>
                        <tr>
                            <th scope="col"><p class="labelheader" (click)="sortLabel();"><span class="clickable">Label</span></p></th>
                            <th scope="col"><p class="labelheader" (click)="sortLabelType();"><span class="clickable">Label Type</span></p></th>
                            <th scope="col"><p class="labelheader" (click)="sortNumberOfArtifacts();"><span class="clickable">Artifacts Labelled</span></p></th>
                        </tr>
                    </thead>
                    <!--Table Content-->
                    <tbody>
                        <tr *ngFor="let label of labels |  slice: (page-1) * pageSize : page * pageSize" (click)="reRouter(label.getId())">
                            <!-- Label name field -->
                            <td><p class="tablecontent">{{label.getName()}}</p></td>
                            <!-- Label type name field -->
                            <td><p class="tablecontent">{{label.getType()}}</p></td>
                            <!-- Number of times the labels were used field -->
                            <td><p class="tablecontent">{{labelAmount[label.getId()]}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Pagination -->
            <div id="center-pagination">
                <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="labels.length"
                    [maxSize]="5"
                    [rotate]="true" 
                    [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
