// <!-- Author: Victoria Bogachenkova, Thea Bradley -->
// Color variables
$orange-shade: #ed5a06;
$gey-shade: #38474e;

// Body
body {
    color: $orange-shade;
    overflow-x: hidden;
}

// Top bar
.alignValues {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}

// Header saying "Label Management"
.header {
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}

// CREATE LABEL
// Create label button on Label Management Page
#createLabelButton,
#mergeLabelButton {
    width: 200px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid;
    border-color: $gey-shade;
    color: black;
}

// Create project button on hover
#createLabelButton:hover,
#createLabelButton:focus,
#createLabelButton:active {
    background-color: rgb(222, 222, 222);
}

#mergeLabelButton:hover,
#mergeLabelButton:focus,
#mergeLabelButton:active {
    background-color: rgb(222, 222, 222);
}

.SearchContainer {
    max-width: 30%;
}

// Create button plus
svg.bi.bi-plus {
    width: 22px;
    height: 22px;
}

// TOP BAR
#topBarRow {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

#scrolly {
    padding-right: 40px;
}

#tableRow {
    padding-top: 5px;
}

#horizontalLineRow {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
}

#horizontalLineColumn {
    padding-right: 0px;
}

//Table styles
.labelHeader {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    margin: 0px;
}

// Make the headers clickable
.clickable:hover {
    cursor: pointer;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// Pagination Color
ngb-pagination ::ng-deep a {
    color: $orange-shade  !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: $gey-shade;
    background-color: white;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}

//Scroll Related Business
.my-custom-scrollbar {
    position: relative;
    height: 80vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $gey-shade;
    border-radius: 10px;
}

// Sets the style for the headers in the table
.tableheader {
    font-size: 15px;
}

// Sets the style for the content of the table
.tablecontent {
    font-size: 15px;
}

// Centers the pagination to the middle of the page
#center-pagination {
    display: flex;
    justify-content: center;
}

// for the dynamic search bar
.search {
    &__container {
        padding-top: 3px;
    }

    &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;

        background-image: url(search_heart.svg);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
            cursor: pointer;
        }
    }
}