<!-- @author: Chinno Lavin -->
<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column">
    <!-- contains the page title and Artifact Identifier -->
    <div class="row" id="pageTitle">
        <!-- title name -->
        <div id="artifactId" class="col-10">
            Artifact {{artifact.getId()}}
        </div>
        <!-- Artifact Identifier -->
        <div class="col-2" id="artifactIdentifier">
            {{artifact.getIdentifier()}}
        </div>
    </div>

    <!-- Container for Artifact -->
    <div class="row">
        <div class="artifactContainer" id="artifactContainer">
            <p>{{ artifact.getData() }}</p>
        </div>
        <div class="row">

            <!-- previous artifacts that it was split from, if any -->
            <div class="col-6" id="split">
                <p class="float-end">
                    <span *ngIf="artifact.getNumberOfChildIds() === 1" id="split1"> Artifact was split into child
                        artifact</span>
                    <span *ngIf="artifact.getNumberOfChildIds() > 1" id="split1">Artifact was split into children
                        artifacts</span>
                    <span *ngIf="artifact.getNumberOfChildIds() > 0" id="split1"> #{{artifact.getChildIds()}}.</span>
                    <span *ngIf="artifact.getParentId() != undefined" id="split2"> Artifact was split from parent
                        artifact #{{artifact.getParentId()}}.</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Section of the page below the artifact text box-->
    <div class="infoDiv">
        <!-- Bottom part of page-->
        <div class="row">
            <!--Labelled By text-->
            <div class="col-11">
            </div>
            <div class="col-1 d-flex justify-content-center" id="pageTitle">
                <!-- When clicked, calls openArtifactHistory function -->
                <em class="bi bi-clock-history" id="history-hover" (click)="openArtifactHistory()"></em>
            </div>

            <!--User Labels-->
            <div>
                <div class="col-12">
                    <!--User + labels given per label type + Remark-->
                    <div *ngFor="let user of users">
                        <div class="row">
                            <!--Labeller Name-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="float-start" *ngIf="users.length > 0" id="labeller">Labelled by
                                        {{user.getUsername()}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <!--Label Type and Given Label Section-->
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12" *ngFor="let labeltype of labelTypes">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <!--Label Type-->
                                                    <p id="labelTypeName1">
                                                        {{labeltype.getName()}}:
                                                    </p>
                                                </div>
                                                <!--Dropdown with label given and labels by label type-->
                                                <div class="col-sm-8">
                                                    <!-- If the current user doesn't have permission to modify the dropdown, then it is disabled -->
                                                    <select class="form-control" name="labels" id="formControl"
                                                        #changedLabel
                                                        [disabled]="!admin && username != user.getUsername()"
                                                        (change)="updateLabelling(user, changedLabel.value, labeltype.getId(), labeltype.getLabels())">
                                                        <div>
                                                            <!-- All labels from the label type are dropdown options -->
                                                            <!-- User's given label is the default value of the dropdown -->
                                                            <option *ngFor="let labels of labeltype.getLabels()"
                                                                [selected]="labels.getName() == userLabels[user.getUsername()][labeltype.getName()].name">
                                                                {{labels.getName()}}
                                                            </option>
                                                        </div>
                                                        <!-- All labels from the label type are dropdown options -->
                                                        <!-- User's given label is the default value of the dropdown -->
                                                        <option *ngFor="let labels of labeltype.getLabels()"
                                                            [selected]="labels.getName() == userLabels[user.getUsername()][labeltype.getName()].name">
                                                            {{labels.getName()}}
                                                        </option>
                                                    </select>
                                                    <!--Label Remark-->
                                                    <div class="col align-self-start">
                                                        <p id="remarksText">Remark:
                                                            {{userLabels[user.getUsername()][labeltype.getName()].labelRemark}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Line Separator-->
                        <div class="col-12">
                            <hr class="horizontalLine">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <!-- Save button -->
                    <button class="btn btn-secondary float-end" id="btn-save" (click)="updateLabellings()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>