.title {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    font-size: 36px;
    letter-spacing: 1px;
}

.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}
