<!-- Veerle Furst -->
<!-- Ana-Maria Olteniceanu -->
<!-- Linh Nguyen -->

<!-- Top bar container -->
<div class="container" id="topBarContainer">
    <!-- Row of the top bar -->
    <div class="row" id="topBarRow">
        <div class="col">
            <!-- Header with Conflict name -->
            <p class="header"> Conflict: {{artifact.getIdentifier()}} - {{label_type}} </p>
            <hr>
        </div>
        <!-- Column with the splitting artifact button -->
        <div class="col-1 align-self-center">
            <div *ngIf="hightlightedText.length > 0" class="col-2">
                <div id="artifactButtons">
                    <i (click)="split()" class="bi bi-scissors" *ngIf="!frozen"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Row with description -->
    <div class="row" id="descRow">
        <p (mouseup)="selectedText()" (mousedown)="selectedText()">
            {{artifact.getData()}}
        </p>
    </div>
    <!-- Row with splitting information -->
    <div class="row" id="splitRow">
        <!-- previous artifacts that it was split from, if any -->
        <div class="col-3" id="names">
            <p class="float-start">
                <span *ngIf="artifact.getNumberOfChildIds() === 1" id="split1"> Artifact was split into child
                    artifact</span>
                <span *ngIf="artifact.getNumberOfChildIds() > 1" id="split1">Artifact was split into children
                    artifacts</span>
                <span *ngIf="artifact.getNumberOfChildIds() > 0" id="split1"> #{{artifact.getChildIds()}}.</span>
            </p>
        </div>
    </div>
    <div class="row justify-content-start" id="splitRow">
        <!-- previous artifacts that it was split from, if any -->
        <div class="col-2" id="names">
            <p class="float-end">
                <span *ngIf="artifact.getParentId() != undefined" id="split2"> Artifact was split from parent artifact
                    #{{artifact.getParentId()}}.</span>
            </p>
        </div>
    </div>
    <!-- Line separating with the div below -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
        <div class="col-1"></div>
    </div>
    <!-- Row for create and merge label buttons -->
    <div class="row">
        <div class="col">
            <!-- Create label button -->
            <button class="btn btn-secondary labelButtons" (click)="openCreateForm()" [disabled]="frozen">
                Create label
            </button>
            <!-- Merge label buttons -->
            <button class="btn btn-secondary labelButtons" (click)="openMerge()" [disabled]="frozen">
                Merge labels
            </button>
        </div>
    </div>

    <!-- Row for the conflicting labels -->
    <div class="row margin">
        <div class="row" id="conflictLabelsHeader">
            Conflicting labels
        </div>
    </div>
    <!-- Division for each labeller -->
    <div class="labellerDiv">
        <div *ngFor="let user of users">
            <!-- Row for each labeller -->
            <div class="row margin" id="labellerRow">
                <!-- Column for labels given -->
                <div class="col">
                    <!-- Row for the labeller name -->
                    <div class="row">
                        <span class="boldText">{{user.getUsername()}}</span>
                    </div>

                    <!-- Add angular for loop -->
                    <div class="labelTypeDiv">
                        <!-- If the current user doesn't have permission to modify the dropdown, then it is disabled -->
                        <select class="form-control" name="labelsForm" #changedLabel
                            [disabled]="frozen || (!admin && user.getUsername() != username)"
                            (change)="updateLabelling(user, changedLabel.value)">
                            <div>
                                <!-- All labels from the label type are dropdown options -->
                                <!-- User's given label is the default value of the dropdown -->
                                <option *ngFor="let label of labels"
                                    [selected]="label.getName() == label_per_user[user.getUsername()]['name']">
                                    {{label.getName()}}
                                </option>
                            </div>
                            <!-- All labels from the label type are dropdown options -->
                            <!-- User's given label is the default value of the dropdown -->
                            <option *ngFor="let label of labels"
                                [selected]="label.getName() == label_per_user[user.getUsername()]['name']">
                                {{label.getName()}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Column for description of label -->
                <div class="col-5" id="remarkCol">
                    <span class="boldText">Description: </span> <br>
                    {{label_per_user[user.getUsername()]['description']}}
                </div>
            </div>
        </div>
    </div>

    <!--Division around buttons-->
    <div class="row">
        <!-- Division for save & cancel button -->
        <div class="col align-self-end">
            <!-- Submit button -->
            <button type="button" class="btn btn-secondary text-nowrap float-end" id="submitLabellingButton"
                (click)="updateLabellings()" [disabled]="frozen">
                Resolve
            </button>
            <!-- Cancel button -->
            <button class="btn btn-secondary float-end" (click)="reRouter()" id="backButton">Back</button>
        </div>
    </div>
</div>