<!-- Veerle Furst -->
<!-- Ana-Maria Olteniceanu -->
<!-- Linh Nguyen -->

<!-- Top bar container -->
<div class="container" id="topBarContainer">
    <!-- Row of the top bar -->
    <div class="row" id="topBarRow">
        <div class="col">
            <!-- Header with Conflict name -->
            <p class="header"> Conflict: {{artifact.getIdentifier()}} - {{label_type}} </p>
        </div>
        <!-- Column with the splitting artifact button -->
        <div class="col-1 align-self-center">
            <div class="splittingArtifactDiv">
                <i class="bi bi-scissors"></i>
            </div>
        </div>
    </div>

    <!-- Row with description -->
    <div class="row" id="descRow">
        {{artifact.getData()}}
    </div>
    <!-- Row with splitting information -->
    <div class="row" id="splitRow">
        <!-- previous artifacts that it was split from, if any -->
            <div class="col-3" id="names">
                <p class="float-start">
                    <span *ngIf="artifact.getNumberOfChildIds() === 1" id="split1"> Artifact was split into child artifact</span>
                    <span *ngIf="artifact.getNumberOfChildIds() > 1" id="split1">Artifact was split into children artifacts</span>
                    <span *ngIf="artifact.getNumberOfChildIds() > 0" id="split1"> #{{artifact.getChildIds()}}.</span>
                </p>
            </div>
    </div>
    <div class="row justify-content-start" id="splitRow">
        <!-- previous artifacts that it was split from, if any -->
            <div class="col-2" id="names">
                <p class="float-end">
                    <span *ngIf="artifact.getParentId() != undefined" id="split2"> Artifact was split from parent artifact #{{artifact.getParentId()}}.</span>
                </p>
            </div>
    </div>

    <!-- Row for create and merge label buttons -->
    <div class="row">
        <div class="col">
            <!-- Create label button -->
            <button class="btn btn-secondary labelButtons">
                Create label
            </button>
            <!-- Merge label buttons -->
            <button class="btn btn-secondary labelButtons">
                Merge labels                    
            </button>
        </div>
    </div>

    <!-- Row for the conflicting labels -->
    <div class="row margin">
        <div class="row" id="conflictLabelsHeader">
            Conflicting labels
        </div>
    </div>
    <!-- Division for each labeller -->
    <div class="labellerDiv">
        <div *ngFor="let labelling of label_per_user | keyvalue">
            <!-- Row for each labeller -->
            <div class="row margin" id="labellerRow">
                <!-- Column for labels given -->
                <div class="col">
                    <!-- Row for the labeller name -->
                    <div class="row">
                        <span class="boldText">{{labelling.key}}</span>
                    </div>

                    <!-- TODO add angular for loop -->
                    <div class="labelTypeDiv">

                        <!-- Rows for the labels per label type -->
                        <div class="row" id="labelTypeRow">
                            <!-- Dropdown (disabled or not) -->
                            <div *ngIf="labelling.key != username; else elseBlock">
                                <!-- Not diabled dropdown -->
                                <select *ngFor="let label in labels">
                                    <option value={{label}}>{{label}}</option>
                                </select>
                            </div>
                            <!-- Disabled dropdown -->
                            <ng-template #elseBlock>
                                <div>
                                    <select disabled *ngFor="let label in labels">
                                        <option value={{label}}>{{label}}</option>
                                    </select>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>

                <!-- Column for remark -->
                <div class="col-5" id="remarkCol">
                    <span class="boldText">Description: </span> <br>
                    <!-- {{labeller.labellerRemark}} -->
                </div>
            </div>
        </div>
    </div>
</div>