#pageTitle {
    padding-top: 10px;
    border-bottom: 0px; 
    border-bottom-style: solid;
}

#artifactId, #artifactIdentifier, #artifactButtons {
    font-size: 36px;
    letter-spacing: 1px;
}
#artifactButtons {
    text-align: right;
}
#labelledBy{
    font-size: 25px;
    letter-spacing: 1px;
}

.labelTypeTitle {
    font-size: 17px;
    letter-spacing: 1px;
}

.descriptionTitle{
    font-size: 19px;
    padding-bottom: 2px;
    height: 28px;
}
.descriptionText{
    max-height: 20vh;
    font-size: 16px;
    overflow-y: scroll;
}

.artifactContainer {
    max-height: 25vh;
    border: 1px; 
    border: solid;
    border-color: #1C5858;
    border-width: thin;
}

div.artifactContainer{
    //margin: 4px 120px 4px 4px;
    padding-bottom: 4px;
    min-height: 40vh;
    overflow-y: scroll;
}
#names{
    padding-top: 3px;
    padding-bottom: 5px;
}


// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e; 
    border-radius: 10px;
}
//"Labelled by" section
div.allUserLabels{
    height: 50vh;
    overflow-y: scroll
}
/*TODO: For some reason the variable defined in the root stylesheet is not working*/
.labelTypeDescription {
    border-left: 2px solid #ed5a06;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#labelThing{
    overflow-y: scroll;
    max-height: 40vh;
}

#body{
    margin: 0px;
    height: 100%;
    padding-left: 30px;
    padding-right: 50px;
}

#remark{
    max-height: 29vh;
}

#editButton{
    padding-top: 5px;
    height: 38px;
    width: 150px;
    border: none;
}
#editButtonRow{
    padding-top: 10px;
}
#artifactIdentifier{
    text-align: right
}
#labelTypeName1{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 450;
}
#labelGiven{
    font-size: 17px;
    letter-spacing: 1px;
}
#remarks{
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;
}
#remarksText{
    font-size: 17px;
    letter-spacing: 1px;
    text-align: left;
}
#labellerName{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
#split1, #split2{
    color: #ed5a06;
}