<!-- Victoria Bogachenkova -->
<!-- Veerle Fürst -->

<!-- Top bar of the page -->
<div class="container" id="topBarRow">
    <div class="row">
        <!-- Column for the header -->
        <div class="col">
            <!-- Header saying "Projects" -->
            <p class="header"> Projects </p>
        </div>
        <!-- Column for the adding project button -->
        <div class="col">

            <!-- Dropdown for the account settings and logout -->
            <div ngbDropdown>
                <!-- Icon of the dropdown, opens the dropdown when clicked -->
                <em class="bi bi-person-circle" id="account-icon" ngbDropdownToggle ngbTooltip="Account menu"></em>
                <!-- Content of the dropdown -->
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <!-- Go to account settings page when clicked -->
                    <button class="button-layout" ngbDropdownItem [routerLink]="['/account']">Account Settings</button>
                    <!-- Go to the user moderation page when clicked -->
                    <button class="button-layout" ngbDropdownItem *ngIf="user && user.getType()" [routerLink]="['/moderation']">User Moderation</button>
                    <!-- Open logout modal when clicked -->
                    <button class="button-layout" ngbDropdownItem (click)="openLogout()">Log out</button>
                </div>
            </div>

            <!-- Create project button, goes to the createProject page when clicked -->
            <button type="button" class="btn btn-secondary" id="createProjectButton" routerLink="/createProject">
                <span id="createProjectText">Create project</span>
                <!-- Plus icon -->
                <em class="bi bi-plus"></em>
            </button>
        </div>
    </div>
</div>

<!-- Show all projects in divisions -->
<div class="allProjects">
    <!-- Loops through the array with projects and displays each one, clicking on project brings to project specific page -->
    <div class='projectParagraph' *ngFor="let project of projects" [routerLink]="['/project', project.getId()]">
        <div class="container">
            <!-- Row for each project -->
            <div class="row align-items-center">

                <!-- Column for each project name -->
                <div class="col" id="projectNameColumn">
                    <!-- Shows project name, artifact progress bar, and number of users -->
                    <p class="projectName"> {{ project.getName() }} </p>
                </div>

                <!-- Column for progress bar and values-->
                <div class="col">
                    <!-- Progress bar -->
                    <div class="progress">
                        <!-- Calculating progress bar progress based on the total number of artifacts, 
                            and the amount that have been completed, also sets the layout of the progress bar -->
                        <div class="progress-bar" role="progressbar" attr.aria-valuenow = {{project.getNumberOfCLArtifacts()}}
                        aria-valuemin="0" attr.aria-valuemax={{project.getNumberOfArtifacts()}} 
                        [style.width]="(project.getNumberOfCLArtifacts() / project.getNumberOfArtifacts())*100 + '%'"
                        style="background-color:#ED5A06 !important;"> 
                        </div>
                    </div>
                </div>
                <!-- Column for displaying the number of artifacts out of the total nr of artifact that have been completed -->
                <div class="col-2">
                    {{ project.getNumberOfCLArtifacts() }} / {{ project.getNumberOfArtifacts() }}
                </div>

                <!--  Column for whether user is admin or not -->
                <div class="col-1">
                    <!-- If the user is an admin displays a key icon -->
                    <div *ngIf="project.getAdmin()">
                        <em class="bi bi-key" ngbTooltip="Admin"></em> 
                    </div>
                </div>
                
                <!-- Column for whether project is frozen or not -->
                <div class="col-1">
                    <!-- If the project is frozen displays a key icon -->
                    <div *ngIf="project.getFrozen()">
                        <!-- Snow icon -->
                        <em class="bi bi-snow" ngbTooltip="Frozen"></em>
                    </div>
                </div>

                <!-- Column for number of users -->
                <div class="col-2">
                    <!-- Member icon -->
                    <em class="bi bi-person" ngbTooltip="Nr of users"></em>
                    <!-- Displays the number of users in the project -->
                    <span class='numberOfUsers'>{{ project.getNumberOfUsers() }}</span>
                </div>

                <!-- Row for project description -->
                <div class="row">
                    <!-- Shows project description -->
                    {{ project.getDesc() }}
                </div>
            </div>
        </div>
    </div>
</div>
