// Victoria Bogachenkova
// Veerle Fürst

// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

// TOP BAR
// Row of the top bar
#topBarRow {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 98%;
}

// Header saying "Projects"
.header {
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 10px;
}

// CREATE PROJECT
// Create project button on Home Page
#createProjectButton {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: $white-shade;
    border: 2px solid;
    border-color: $grey-shade;
    color: $grey-shade;
}

// Create project button on hover
#createProjectButton:hover,
#createProjectButton:focus,
#createProjectButton:active {
    background-color: $white-shade;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// Create project text within button
#createProjectText {
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

// Create button plus
.bi.bi-plus {
    font-size: 22px;
    color: $grey-shade;
}

// Account Settings icon
.bi.bi-person-circle,
.bi.bi-person-circle::before {
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
    color: $orange-shade;
    font-size: 45px;
}

// Division around all projects
.allProjects {
    margin: 4px 10px 4px 4px;
    padding: 4px;
    height: 80vh;
    overflow-y: scroll;
}

// SCROLLBAR
// Scrollbar general
::-webkit-scrollbar {
    width: 10px;
}

// Scrollbar background
::-webkit-scrollbar-track {
    background: $white-shade;
    border-radius: 10px;
}

// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: $grey-shade;
    border-radius: 10px;
}

// Divisions for projects
.projectParagraph {
    margin: 2% 5% 5% 10%;
    padding: 10px 5% 10px 5%;
    border-left: 2px solid;
    border-color: $grey-shade;
    cursor: pointer;
}

// Columns of the grid
.col {
    padding: 0px;
}

// Different look for project names
.projectName {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

// PROGRESS BAR
// The division of the progress
.progress {
    margin-top: 5px;
    width: 100%;
    float: left;
    border-radius: 10px
}

// Actual progress bar
.progress-bar {
    background-color: $orange-shade;
    border-radius: 10px
}

// FROZEN AND ADMIN
// Cols for admin and frozen
.col-1 {
    text-align: center;
}

// Admin icon
.bi.bi-key {
    font-size: 30px;
    color: $grey-shade;
}

// Frozen layout
.bi.bi-snow {
    font-size: 20px;
    color: $grey-shade;
}

// NUMBER OF USERS
// The numbers of users text
.numberOfUsers {
    float: right;
    margin-top: 12px;
}

// The user icon next to the number of user
.bi.bi-person {
    float: right;
    margin-left: 8px;
    margin-bottom: 10px;
    color: $orange-shade;
    font-size: 30px;
}

// Removes the arrow from the dropdown
.dropdown-toggle::after {
    display: none;
}

// Sets the layout of the buttons in the dropdown menu for account settings
.button-layout {
    font-size: 17px;
}

// When hovering the account settings icon, cursor changes 
#account-icon {
    cursor: pointer;
}