<!-- Author Jarl Jansen -->
<!-- Main container of the modal -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <div id="header">History</div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Timestamp</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody class="table">
                    <tr *ngFor="let changelog of changelog">
                        <td>{{changelog.getName()}}</td>
                        <td>{{changelog.getTimestamp()}}</td>
                        <td>{{changelog.getDesc()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col text-center">
            <button class="btn btn-secondary" (click)="activeModal.close()">Close</button>
        </div>
    </div>
    <div id="padd-bottom"></div>
</div>
