<!-- Author Jarl Jansen -->
<!-- Main container of the modal -->
<div class="container">
    <!-- Centers row -->
    <div class="row justify-content-md-center">
        <div class="col">
            <!-- Displays header -->
            <div id="header">History</div>
        </div>
    </div>

    <!-- Centers row -->
    <div class="row justify-content-md-center">
        <!-- Centers column content -->
        <div class="col text-center">
            Main content
        </div>
    </div>

    <!-- Centers row -->
    <div class="row justify-content-md-center">
        <div class="col text-center">
            <!-- Close modal button, closes the modal when clicked -->
            <button class="btn btn-secondary" (click)="activeModal.close()">Close</button>
        </div>
    </div>
</div>
