// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

// Markup of the logout header
#header {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
