<!-- @author Jarl Jansen-->

<!-- Container holding all content -->
<div class="container-fluid min-vh-100 d-flex flex-column">
    <!-- Row for the header -->
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <div id="header">Changing your account information</div>
        </div>
    </div>

    <!-- Row for the error message -->
    <div class="row">
        <div class="col offset-2">
            <div *ngIf="errorMsg" id="infoMessage">{{errorMsg}}</div>
        </div>
    </div>

    <!-- Row for the form -->
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <!-- For for user information -->
            <form [formGroup]="accountForm">
                <!-- Username field -->
                <div class="form-group">
                    <label id="field_text">Username:</label>
                    <input *ngIf="userAccount" type="username" class="form-control" id="form-format" placeholder="Username"  formControlName="username">
                </div>
                <!-- Email field -->
                <div class="form-group">
                    <label id="field_text">Email Address:</label>
                    <input *ngIf="userAccount" type="email" class="form-control" placeholder="Email address" formControlName="email">
                </div>
                <!-- Description field -->
                <div class="form-group">
                    <label id="field_text">Description:</label>
                    <textarea *ngIf="userAccount" class="form-control" rows="4" placeholder="Description" maxlength="140" formControlName="description"></textarea>
                </div>
            </form>

        </div>
    </div>

    <!-- Row for changing password -->
    <div class="row text-end">
        <div class="col">
            <a (click)="modeChangeEvent.emit(2)"><span id="orangUnderlinedText">Change password</span></a>
        </div>
        <div class="col-2"></div>
    </div>
    
    <!-- Row for buttons -->
    <div class="row">        
        <div class="col-8 offset-2 text-right">
            <!-- Edit button -->
            <button (click)="changeInformation()" type="submit" class="btn btn-primary editButtons">Change</button>
            <!-- Cancel button -->
            <button (click)="modeChangeEvent.emit(0)" class="btn btn-danger editButtons" id="cancelEditButton">Cancel</button>
        </div>
    </div>
</div>

