<!-- @Author Jarl -->

<!-- Container holding all content of the modal -->
<div class="container">
    <!-- Row holding the title of the modal, the modal is centered -->
    <div class="row justify-content-md-center">
        <div class="col">
            <div id="logout-header">Are you sure you want to log out?</div>
        </div>
    </div>

    <!-- Row holding the buttons of the modal -->
    <div class="row justify-content-md-center" id="secondary-row">
        <!-- Do not log out button -->
        <div class="col-3 center-colu">
            <!-- No button, closes the modal when clicked -->
            <button class="btn btn-secondary" (click)="activeModal.close()" id="noButton">No</button>
        </div>
        <!-- Log out button -->
        <div class="col-3 center-colu">
            <!-- Yes button, calls the logOut function when clicked, which logs out the user and redirects to login page -->
            <button class="btn btn-primary" (click)="logOut()" id="yesButton">Yes</button>
        </div>
    </div>
</div>