<!-- Veerle Furst -->

<body>
    <!-- Top bar container -->
    <div class="container" id="topBarContainer">
        <!-- Row of the top bar -->
        <div class="row" id="topBarRow">
            <div class="col">
                <!-- Header with Conflict name -->
                <p class="header"> Conflict: {{conflict1.artifactName}} </p>
            </div>
            <!-- Column with the splitting artifact button -->
            <div class="col-1 align-self-center">
                <div class="splittingArtifactDiv">
                    <i class="bi bi-scissors"></i>
                </div>
            </div>
        </div>

        <!-- Row with description -->
        <div class="row" id="descRow">
            {{conflict1.artifactDescription}}
        </div>
        <!-- Row with splitting information -->
        <div class="row justify-content-end" id="splitRow">
            <!-- Column to make the text start at the end -->
            <div class="col text-end">
                This artifact was split into <span class="coloredText">Artifact #50</span> and <span class="coloredText">Artifact #109</span>
            </div>
        </div>

        <!-- Row for create and merge label buttons -->
        <div class="row">
            <div class="col">
                <!-- Create label button -->
                <button class="btn btn-secondary labelButtons">
                    Create label
                </button>
                <!-- Merge label buttons -->
                <button class="btn btn-secondary labelButtons">
                    Merge labels                    
                </button>
            </div>
        </div>

        <!-- Row for the conflicting labels -->
        <div class="row margin">
            <div class="row" id="conflictLabelsHeader">
                Conflicting labels
            </div>
        </div>
        <!-- Division for each labeller -->
        <div class="labellerDiv">
            <div *ngFor="let labeller of labellers">
                <!-- Row for each labeller -->
                <div class="row margin" id="labellerRow">
                    <!-- Column for labels given -->
                    <div class="col">
                        <!-- Row for the labeller name -->
                        <div class="row">
                            <span class="boldText">{{labeller.labellerName}}</span>
                        </div>

                        <!-- TODO add angular for loop -->
                        <div class="labelTypeDiv">

                            <!-- Rows for the labels per label type -->
                            <div class="row" id="labelTypeRow">
                                <span class="coloredText">Emotion:</span>
                                <!-- Dropdown (disabled or not) -->
                                <div *ngIf="labeller.current; else elseBlock">
                                    <!-- Not diabled dropdown -->
                                    <select>
                                        <option value="happy">Happy</option>
                                        <option value="sad">Sad</option>
                                    </select>
                                </div>
                                <!-- Disabled dropdown -->
                                <ng-template #elseBlock>
                                    <div>
                                        <select disabled>
                                            <option value="happy">Happy</option>
                                            <option value="sad">Sad</option>
                                        </select>
                                    </div>
                                </ng-template>
                            </div>


                            <!-- Rows for the labels per label type -->
                            <div class="row" id="labelTypeRow">
                                <span class="coloredText">Language:</span>
                                <br>
                                <!-- Dropdown (disabled or not) -->
                                <div *ngIf="labeller.current; else elseBlock2">
                                    <!-- Not diabled dropdown -->
                                    <select>
                                        <option value="python">Python</option>
                                        <option value="html">Html</option>
                                    </select>
                                </div>
                                <!-- Disabled dropdown -->
                                <ng-template #elseBlock2>
                                    <div>
                                        <select disabled>
                                            <option value="python">Python</option>
                                            <option value="html">Html</option>
                                        </select>
                                    </div>
                                </ng-template>
                            </div>

                            <!-- Rows for the labels per label type -->
                            <div class="row" id="labelTypeRow">
                                <!-- Column for the label type -->
                                <div class="col">
                                    <span class="coloredText">Biep:</span>
                                </div>
                                <!-- Not diabled dropdown -->
                                <div>
                                    <select>
                                        <option value="trial">Trial</option>
                                        <option value="error">Error and more errors</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Column for remark -->
                    <div class="col-5" id="remarkCol">
                        <span class="boldText">Remark: </span> <br>
                        {{labeller.labellerRemark}}
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>