// <!-- Author: Victoria Bogachenkova -->
// Header saying "Label Management"
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}

#artifactIdText {
    color: #ed5a06;
}