// <!-- Author: Victoria Bogachenkova -->
// Header saying "Label "name""
p.header{
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
}

// Subtitle
.subTitle {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #ed5a06;
    font-size: 25px;
    letter-spacing: 1px;
}

// Text of the ID of artifact
#artifactIdText {
    color: #ed5a06;
}

#artifactIdentifier {
    margin-top: 10px;
}

#btns-cancel-submit {
    margin-left: 10px;
}

#rowLabels {
    margin: 5px 20px 5px 20px !important;
}

#remarksArtifacts {
    margin-bottom: 2px;
}

#remarksArtifactsContent {
    margin-left: 15px;
}
