<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <!-- contains the page title and Artifact Identifier -->
    <div class="row" id="pageTitle">
        <!-- Label Name as title -->
        <div id="artifactId" class="col-10">
            {{labelName}}
        </div> 
        <!-- Label Type -->
        <div class="col-2" id="artifactIdentifier">
            Label Type: {{labelType}}
        </div>
    </div>

    <!-- Container for Artifact -->
    <div class="row">
        <div class="col-6" id="leftRow">
            <div>
                <div class="subTitle">Name</div>
                <div class="labelName">
                    <p>{{labelName}}</p>
                </div>
            </div>
            <div>
                <div class="subTitle">Label Type</div>
                <div class="labelType">
                    <p>{{labelType}}</p>
                </div>
            </div>
            <div>
                <div class="subTitle">Artifacts Labelled</div>
                <div class="labeledArtifacts" *ngFor="let artifact of artifacts">
                    <p>Artifact #{{artifact.artifactId}} by {{artifact.artifactLabeler}}</p>
                    <p>Remarks:</p>
                    <div>
                        <p>{{artifact.artifactRemarks}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" id="rightRow">
            <div class="subTitle">    
                Description
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="8" placeholder="Description" id="remark">{{labelDescription}}</textarea>
            </div>
            <div class="subTitle">    
                Themes
            </div>
            <div class="labelThemes">
                <p>{{labelThemes}}</p>
            </div>
        </div>
    </div> 

    <!-- Bottom part of page-->
    <div class="row">
        <!--Line Separator-->
        <div class="col-12" id="horizontalLineMain">
            <hr class="horizontalLine" style="height:1px; width:80%; border-width:0px;">    
        </div>
    
    </div>

    <!-- Edit Button -->
    <!-- <div class="col-6">
        <button class="btn btn-primary float-start" (click)="openEdit()" style="margin-left:10px;" id="editButton">Edit</button> 
    </div> -->
</div>

