<!-- @author: Chinno Lavin -->
<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">

    <!-- Page Header -->
    <div class="row"  id="titleRow">
        <div class="col-12 header" id="pageTitle"> 
            Theme 1
        </div>
    </div>

    <!-- Top Half -->
    <div class="row" id="topHalfRow">
        <!-- Top Half Left-->
        <div class="col-6" id="topLeftCol">
             <!-- Name Header-->
            <div id="name">
                Name
            </div>
            <!--Name-->
            <div >
               <p>Theme 1</p> 
            </div>
            <!--Label Count Header-->
            <div id="labelCount">
                Label Count
            </div>
            <!--Label Count content-->
            <div >
                <p>35</p> 
             </div>
            <!--Artifact Count Header-->
            <div id="artifactCount">
                Artifact Count
            </div>
            <!--Artifact Count Content-->
            <div >
                <p>42</p> 
             </div>
            <!--Parent-Themes Header-->
            <div id="parentThemes">
                Parent-Themes
            </div>
            <!--Parent-Themes Content-->
            <div >
                <p>Emotional</p>
                <p>Analytical</p> 
             </div>
            <!-- Sub-Themes Header-->
            <div id="subThemes">
                Sub-Themes
            </div>
            <!--Sub-Themes Content-->
            <div >
                <p>Happiness</p>
                <p>Humor</p> 
             </div>
        </div>
        <!--Top Half Right-->
        <div class="col-6" id="topRightCol">
            <!--Description Header-->
            <div id="description">
                Description
            </div>
            <!--Description Field-->
            <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Description"></textarea>
            </div>
        </div>
    </div>

    <!--Bottom Half-->
    <div class="row justify-content-md-center" id="bottomHalfContainer">

        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Labels</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let label of allLabels">
                        <th scope="row">
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                <ngb-panel title="{{label.labelName}}">
                                  <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                  </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </th>
                    </tr>                    
                </tbody>
            </table>
        </div>

    </div>

</div>