<!-- @author: Chinno Lavin -->
<!-- big container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">

    <!-- Page Header -->
    <div class="row"  id="titleRow">
        <div class="col-12 header" id="pageTitle"> 
            {{themeName}}
        </div>
    </div>

    <!-- Top Half -->
    <div class="row" id="topHalfRow">
        <!-- Top Half Left-->
        <div class="col-6" id="topLeftCol">
             <!-- Name Header-->
            <div id="name">
                Name
            </div>
            <!--Name-->
            <div>
               <p id="themeNameText">{{themeName}}</p> 
            </div>
            <!--Label Count Header-->
            <div id="labelCount">
                Label Count
            </div>
            <!--Label Count content-->
            <div>
                <p id="labelCountText">35</p> 
             </div>
            <!--Artifact Count Header-->
            <div id="artifactCount">
                Artifact Count
            </div>
            <!--Artifact Count Content-->
            <div>
                <p id="artifactCountText">42</p> 
             </div>
            <!--Parent-Theme Header-->
            <div id="parentThemes">
                Parent-Theme
            </div>
            <!--Parent-Themes Content-->
                <div *ngFor="let themes of parentTheme">
                    <p id="parentThemesText">{{themes}}</p>
                </div>
            <!-- Sub-Themes Header-->
            <div id="subThemes">
                Sub-Themes
            </div>
            <!--Sub-Themes Content-->
            <div id="subThemesScroll">
                <div *ngFor="let themes of subThemes">
                    <p id="subThemesText">{{themes}}</p>
                </div>
            </div>
        </div>
        <!--Top Half Right-->
        <div class="col-6" id="topRightCol">
            <!--Description Header-->
            <div id="description">
                Description
            </div>
            <!--Description Field-->
            <div class="form-group">
                <textarea class="form-control" [disabled]="true" rows="10" placeholder="Description">{{themeDescription}}</textarea>
            </div>
        </div>
    </div>

    <!--Bottom Half-->
    <div class="row justify-content-md-center" id="bottomHalfContainer">
        <div class="col-12">
            <!--Table to display labels and their artifacts TODO add to style sheet-->
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <!--Label Header for table TODO add black to stylesheet-->
                        <th scope="col" id="labelsHeader">Labels</th>
                    </tr>
                </thead>
                <div  id="accordionScroll">
                    <tbody>
                        <!--List of Label dropdowns accordion-->
                        <tr *ngFor="let label of allLabels">
                            <!--Row for each Label-->
                            <th scope="row">
                                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                    <ngb-panel title="{{label.labelName}}">
                                        <ng-template ngbPanelContent>
                                            <!--Artifacts of label-->
                                            <ngb-accordion *ngFor="let artifacts of label.labelArtifacts" #acc="ngbAccordion" activeIds="ngb-panel-1">
                                                <ngb-panel title="{{artifacts.artifactName}}">
                                                    <!--Artifact Content-->
                                                    <ng-template ngbPanelContent>
                                                        <div class="row">
                                                            <!--Artifact Text-->
                                                            <div class="col-6">
                                                                <p id="artifactText">{{artifacts.artifactText}}</p>
                                                            </div>
                                                            <!--Artifact Remarks-->
                                                            <div class="col-6">
                                                                <p  id="artifactRemarkHeader">Remarks:</p>
                                                                <p id="artifactRemark">{{artifacts.artifactRemark}}</p>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngb-panel>
                                            </ngb-accordion>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </th>
                        </tr>                    
                    </tbody>
                </div>
            </table>
        </div>

    </div>
    <!-- Back and Edit Buttons -->
    <div class="col-10">
        <div class="col-1" id="buttonCol">
            <button class="btn btn-secondary float-start" routerLink="/project/thememanagement" id="btns-cancel-submit">Back</button> 
            <button class="btn btn-primary float-start" routerLink="/project/editTheme" id="editButton">Edit</button> 
        </div>
    </div>
</div>