//Body
#body{
    padding-left: 30px;
    padding-right: 30px;
}
//Page Header container
#titleRow{
    padding-bottom: 20px;
}
//Page Title
#pageTitle{
    font-size: 35px;
    padding-top: 10px;
    text-align: left;
    letter-spacing: 1px;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}
//Top Half container
#topHalfRow{
    padding-left: 10px;
}

//TOP LEFT
//Top left container
#topLeftCol{
    padding-right: 200px;
}
//Name Column
#name{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    letter-spacing: 1px;
    border-bottom-color: orange;
}

//Label Count Header
#labelCount{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//artifactCount Header
#artifactCount{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//Parent-Themes Header
#parentThemes{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
//Container for parent theme scroll
#parentThemesScroll{
    overflow-y: scroll;
    height: 10vh;
}
//Content text of multipl sections in top left part
#parentThemesText, #themeNameText, #labelCountText, #artifactCountText, #subThemesText{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-top: 2px;
}
//Sub-ThemesHeader
#subThemes{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom-color: orange;
}

//Container for sub theme scroll
#subThemesScroll{
    overflow-y: scroll;
    height: 10vh;
}
//TOP RIGHT
//Top right container
#topRightCol{
    padding-left: 50px;
    padding-right: 50px;
}

//BOTTOM HALF
//Bottom Half Container
#bottomHalfContainer{
    
}
//Labels Header 
#labelsHeader{
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 1px;
    border-bottom-color: orange;
}
// Artifact text and remarks
#artifactText ,#artifactRemark{
    font-size: 14px;
    font-weight: 400;
}
//Artifact Remark Header
#artifactRemarkHeader{
    font-size: 15px;
    font-weight: 500;
}
//bottom buttons
#buttonCol{
    position: fixed;
}

//Scroll Bar 
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar {
    width: 10px;
}
// Scrollbar background
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
// Scrollbar scroller
::-webkit-scrollbar-thumb {
    background: #38474e; 
    border-radius: 10px;
}
//Table Scroll
#tableScroll{
    min-height: 50vh;
    overflow-y: scroll;
}

