<!-- Author Thea and Chinno -->

<!-- Main bootstrap container covering the page -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <div class="row" id="titleRow">
        <!-- Displays the theme name -->
        <div class="col-12 header" id="pageTitle">
            Theme Hierarchy Visualization
        </div>
    </div>
    <!-- Displays the tree -->
    <div class="row" id="titleRow">
        <div class="col-12" id="treeCol">
            <div class="treeCont" id="treeChart"></div>
        </div>
    </div>
</div>
