<!-- @Author Jarl Jansen, Veerle Furst -->

<!-- Row for the header -->
<div class="row">
    <!-- Aligns column in the middle of the page -->
    <div class="col-8 offset-2 justify-content-center">
        <div id="header">Changing your password</div>
    </div>
</div>

<!-- Row for the form -->
<div class="row">
    <!-- Aligns column in the middle of the page -->
    <div class="col-8 offset-2 Fjustify-content-center">
        <!-- For for user information -->
        <form [formGroup]="passwordForm">
            <!-- Password field, only shows up if the user is not a superadmin -->
            <ng-container *ngIf="!superAdmin">
                <div class="form-group">
                    <label id="field_text">Password:</label>
                    <!-- Input field for old password -->
                    <input type="password" class="form-control" placeholder="Password" formControlName="old_password">
                </div>
            </ng-container>
            <!-- New password field -->
            <div class="form-group">
                <label id="field_text"> New password:</label>
                <!-- Input field for new password -->
                <input type="password" class="form-control" placeholder="New password" formControlName="new_password">
            </div>
            <!-- Repeat new password field -->
            <div class="form-group">
                <label id="field_text"> Repeat new password:</label>
                <!-- Input field for new repeated password -->
                <input type="password" class="form-control" placeholder="Repeat new password"
                    formControlName="new_passwordR">
            </div>
        </form>
    </div>
</div>

<!-- Row for buttons -->
<div class="row">
    <!-- Moves the column slightly to the right by 16.7% and align text to the right -->
    <div class="col-8 offset-2 text-right">
        <!-- Edit button, calls editPasswordF when clicked -->
        <button (click)="editPasswordF()" type="submit" class="btn btn-primary editButtons">Change</button>
        <!-- Cancel button, emits a modeChangeEvent when clicked -->
        <button (click)="modeChangeEvent.emit(1)" class="btn btn-secondary editButtons"
            id="cancelEditButton">Cancel</button>
    </div>
</div>