// Header above the input fields
#header {
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

// texts above each of the forms indicating what the form is for
#field_text {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

// Columns of the information
.col-8 {
    padding-top: 2%;
    padding-bottom: 2%;
}

// Buttons
.editButtons {
    border: none;
    float: right;
    width: 150px;
}

// Cancel edit button
#cancelEditButton {
    margin-right: 20px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}