//Section for adding artifact
#addArtifacts {
    text-align: left;
    font-size: 35px;
}

//row for buttons used
#buttonRow {
    padding-top: 10px;
    padding-bottom: 10px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

// Upload file input
#customFile:focus {
    box-shadow: none;
    outline: none;
}

// Upload button
#btn-upload {
    border: none;
    margin-left: 10px;
}

// Width of the buttonspython --version
.btn {
    width: 150px;
}