//Section for adding artifact
#addArtifacts{
    text-align: left;
    font-size: 35px;
}
//row for buttons used
#buttonRow{
    padding-top: 10px;
    padding-bottom: 10px;
}

// Markup for the message displayed on success
#success-msg {
    color: green;
    font-size: 14px;
    padding-left: 30px;
}

// Markup for the message displayed on error
#error-msg {
    color: red;
    font-size: 14px;
    padding-left: 30px;
}

// Make the highlight around the buttons none
.btn:focus {
    box-shadow: none;
}

