// Color variables
$grey-shade: #38474e;
$white-shade: #FFFFFF;
$orange-shade: #ed5a06;

// Header above the input fields
#header{
    font-size: 22px;
    letter-spacing: 1px;
    padding-left: 70px;
    padding-right: 70px;
}

// texts above each of the forms indicating what the form is for
#field_text{
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

#projectDescription {
    height:200px;
    font-size:14pt;
}