<body>
    <p class="header">Create Project</p>

    <div class="container main">

        <div class="row justify-content-between">

            <!-- Left side of the page -->
            <div class="col-5">
                <!-- Filling in Project information -->
                <form id="projectCreationForm" method="post">
                    <!-- Username field -->
                    <div class="form-group">
                        <label for="projectName" id="field_text">Project Name:</label><br>
                        <input class="form-control" type="text" placeholder="Project Name" required><br>
                    </div>
                    
                    <!-- Description field -->
                    <div class="form-group">
                        <label for="projectDescription" id="field_text">Description:</label><br>
                        <textarea class="form-control" rows="10" placeholder="Description"></textarea>
                    </div>  
                    
                    <div>
                        <!-- Response -->
                        <!-- TODO TO TEST CAN BE DELETED LATER -->
                        <p id="createProjectResponse"></p>
                    </div>
                </form>
            </div>

            <!-- Right side of the page -->
            <div class="col-6">
                <!-- Division around the whole members section -->
                <div class="projectSettingsDivParent">
                    <!-- "Members" header -->
                    <div class="row">
                        <div class="col">
                            <span class="settingsHeader">Members</span>
                        </div>
                        <!-- Col for adding users button -->
                        <div class="col-2">
                            <!-- Button for adding new members -->
                            <button class="btn" type="button" id="addMembersButton" (click)="addMembersClick()">
                                <svg class="bi bi-plus members" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>

                            <!-- TODO make pop-up for where user can select members -->

                            <!-- Modal -->
                            <ng-template #addMembersModal let-modal>
                                <div class="modal-dialog">    
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                    </div>

                    <!-- Division around the all members -->
                    <div class="projectSettingsDiv">
                        <div id="membersDiv">
                            <!-- Row for the 'Project admin' words -->
                            <div class="row justify-content-end">
                                <div class="col-4">
                                    <p class="projectAdminSpan">Project admin</p>
                                </div>
                            </div>
                            
                            <!-- TODO Vic what is this php link???? -->
                            <form action="/action_page.php">
                                <!-- Name and checkbox per member of the project -->
                                <label *ngFor="let member of members" for="user" style="display: block;"> 
                                    <!-- Row for the delete, name and project admin -->
                                    <div class="row">
                                        <!-- Column for delete icon -->
                                        <div class="col-1">
                                            <svg class="bi bi-x memberDelete" id="{{member.userName}}" viewBox="0 0 16 16" (click)="removeMember(member.userName)">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        </div>
                                        <!-- Column for username -->
                                        <div class="col-7">
                                            {{ member.userName }}
                                        </div>
                                        <!-- Column for checkbox -->
                                        <div class="col-4 checkboxCol">
                                            <!-- TODO I cant get these checkboxes orange, someone pls help -->
                                            <input type="checkbox">
                                        </div>                                        
                                    </div>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Division around the labeller count -->
                <form>      
                    <div class="form-group projectSettingsDivParent">
                        <label for="exampleFormControlSelect1"><span class="settingsHeader">Labeller Count</span></label>
                        <!-- Division around the input -->
                        <div class="projectSettingsDiv">
                            <!-- Labeller count input -->
                            <div id="labellerCountDiv">
                                <input type="number" class="form-control" name="numberOfLabellers" placeholder="2" min="2" max="20">
                            </div>
                        </div>
                    </div> 
                </form>

                <!-- Division around the label types -->
                <div class="projectSettingsDivParent">
                    <span class="settingsHeader"> Label Type </span>
                    <!-- Division around the input -->
                    <div class="projectSettingsDiv">
                        <!-- All label types in the project -->
                        <div id="labelTypeDiv">
                            <div id="labelTypeList">
                                <div *ngFor="let labelType of labelTypes">
                                    <input type="labelType" class="form-control labelType" placeholder="Label type">
                                </div>
                            </div>
                            <!-- Button for adding new label types -->
                            <button type="button" class="btn btn-secondary" id="addLabelTypeButton" (click)="addLabelType()">
                                Add Label Type
                                <svg class="bi bi-plus label-type" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons row -->
        <div class="row justify-content-end fixed-bottom top-buffer">
            <!-- Cancel button -->
            <button type="button" class="btn btn-secondary text-nowrap" id="cancelProjectCreationButton" routerLink="/home">Cancel</button>
        
            <!-- Submit button -->
            <button type="button" class="btn btn-secondary text-nowrap" id="createProjectButton" (click)="createProject()">Create Project</button>
        </div>

    </div>

</body>

