<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row" id="pageTitle">
        <div id="artifactId" class="col-10">
            Artifact {{ artifactId }} 
        </div> 
        <div  *ngIf="hightlightedText != null " class="col-2">
            <div id="artifactButtons">
                <i (click)="notImplemented()" class="bi bi-scissors"></i><i (click)="notImplemented()" class="bi bi-brush"></i>
            </div>
        </div>
    </div>
    <div class = "row" >
        <div class = "row" id="artifactContainer">
            <p (mouseup)="selectedText()" (mousedown)="selectedText()">{{ artifact }}</p>
        </div>
        
        <div class="col-6">
            <div> 
                Labeled by: <span *ngFor="let labeler of labelers; let last = last">{{ labeler }}<span *ngIf="!last">, </span></span>
            </div>
        </div>

        <div class="col-6">
            <p class="float-end">
                Artifact was split into artifact #45 and artifact #190.
            </p>
        </div>

        <div class="row">
            <div class="col-6">
                <div *ngFor="let labelType of labelTypes">
                    <div class="row">
                        <div class="col-6">
                            <div class = "labelTypeTitle">
                                <span>{{ labelType.labelTypeName }}</span> <span (click)="notImplemented()" class="float-end"><i class="bi bi-plus-lg"></i></span>
                            </div> 
                            <div class="form-group">
                                <select class="form-control" name="labels">
                                    <option *ngFor="let label of labelType.labels" value="{{ label }}">{{ label }}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-6" >
                            <div class = "labelTypeDescription">
                                <h2>Description</h2>
                                <p>{{ labelType.labelTypeDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-6 ">
                <div class="form-group">
                    <textarea class="form-control" rows="8" placeholder="Remark"></textarea>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="form-group">
                <button class="btn btn-light float-end" (click)="notImplemented()" style="margin-left:10px;">Skip</button> 
                <button class="btn btn-primary float-end" (click)="notImplemented()" >Submit</button>
            </div>
        </div>
    </div>

</div>