<!-- @author: Bartjan Henkemans -->
<!-- Main container -->
<div class="container-fluid min-vh-100 d-flex flex-column" id="body">
    <!-- contains the page title and little buttons -->
    <div class="row" id="pageTitle">
        <div id="artifactId" class="col-10">
            Artifact {{ artifact?.getIdentifier()! }} 
        </div> 
        <div *ngIf="hightlightedText.length > 0 " class="col-2">
            <div id="artifactButtons">
                <i (click)="split()" class="bi bi-scissors"></i><i (click)="notImplemented()" class="bi bi-brush"></i>
            </div>
        </div>
    </div>
    <!-- Row containing the artifact -->
    <div class = "row" >
         <!-- Div containing the artifact -->
        <div class = "artifactContainer" id="artifactContainer">
            <p (mouseup)="selectedText()" (mousedown)="selectedText()">{{ artifact?.getData()! }}</p>
        </div>
        
        <!-- Labeller information -->
        <div class="col-6">
            <div> 
                <!-- Labeled by: <span *ngFor="let labeler of artifact?.getLabelers()!; let last = last">{{ labeler }}<span *ngIf="!last">, </span></span> -->
            </div>
        </div>

        <!-- @TODO Information about the origin of the artifact -->
        <!-- Currently not implemented -->
        <div class="col-6" id="names">
            <!-- <p class="float-end">
                Artifact was split into artifact #45 and artifact #190.
            </p> -->
        </div>

        <!-- Row containing the labelling tools -->
        <div class="row">
            <div class="col-8" id="labelThing">
                <div *ngFor="let labelType of labels">
                    <div class="row">
                        <div class="col-6">
                            <!-- Title of the labelType -->
                            <div class = "labelTypeTitle">
                                <!-- TODO change -->
                                <!-- <span>{{ labelType?.getName()! }}</span> <span (click)="open()" class="float-end"><i class="bi bi-plus-lg"></i></span> -->
                            </div> 
                            <!-- List of available labels -->
                            <div>
                                <select class="form-control" name="labels">
                                    <option *ngFor="let label of labelType?.getLabels()!" value="{{ label.getName() }}">{{ label.getName() }}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-6" >
                            <!-- Description of the labelType -->
                            <!-- @TODO: Should this be the labelType description or the label description? -->
                            <div class = "labelTypeDescription">
                                <div class="descriptionTitle">
                                    <p>Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Remark box and submission buttons -->
            <div class="col-sm-4 ">
                <!-- Remark box -->
                <textarea class="form-control" rows="8" placeholder="Remark" id="remark"></textarea>
                <!-- Submission buttons -->
                <div id="butt">
                    <button class="form-group btn btn-light float-end" (click)="notImplemented()" style="margin-left:10px;">Skip</button> 
                    <button class="form-group btn btn-primary float-end" (click)="notImplemented()" >Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>