<form>
    <!-- Username field -->
    <div class="form-group">
        <label id="field_text">Username:</label>
        <input type="username" class="form-control" id="form-format" placeholder="Username" [formControl]="username" value = "{{ username }}">
    </div>
    <!-- Email field -->
    <div class="form-group">
        <label id="field_text">Email Address:</label>
        <input type="email" class="form-control" id="form-format" placeholder="Email address" [formControl]="email" value = "{{ email }}">
    </div>
    <!-- Password field -->
    <div class="form-group">
        <label id="field_text">Password:</label>
        <input type="password" class="form-control" id="form-format" placeholder="Password" [formControl]="password">
    </div>
    <!-- Password Verify field -->
    <div class="form-group">
        <label id="field_text">Repeat Password:</label>
        <input type="password" class="form-control" id="form-format" placeholder="Password" [formControl]="passwordVerify">
    </div>
    <!-- Description field -->
    <div class="form-group">
        <label id="field_text">Description:</label>
        <textarea class="form-control" rows="4" placeholder="Description" [formControl]="description" maxlength="140">{{ description }}</textarea>
    </div>
</form>