// texts above each of the forms indicating what the form is for
#field_text{
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}

// Ensures that the content is not entirely at the top of the page
.middle-col{
    margin-top: 10vh;
}