<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <div id="header">Registration</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <app-account-information-form></app-account-information-form>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 justify-content-center">
            <!-- Button -->
            <div>
                <button type="submit" class="btn btn-primary" id="register-button">Register</button>
                <a [routerLink]="['/login']" [title]="'login'" id="back-login">I already have an account</a>
            </div>
        </div>
    </div>
</div>