// Header above the input fields
#header{
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

// Styles the link to go back to the login page
#back-login{
    font-size: 12px;
    float: right;
    color: #ed5a06;
}

// the register button at the bottom of the forms
#register-button{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 1px;
    font-size: 17px;
}