<!-- Author: Victoria Bogachenkoca -->

<div class="container" id="body">
  <div class="row modal-header" class="title">
    <!-- Title -->
    <div class="col-12">Merge Label</div>
  </div>

  <div class="row modal-body">
    <div class="col-6">
      <div class="form-group">
        <p class="subTitle">Select Label Type</p>
        <select class="form-control" id="label-type" name="labels">
          <option *ngFor="let labeltype of labelTypes">
            {{ labeltype.getName() }}
          </option>
        </select>
      </div>
      <!-- Add more labels -->
      <button
        (click)="add()"
        type="button"
        class="btn btn-secondary"
        id="addLabelButton"
        style="float: right"
      >
        <!-- Plus icon -->
        <i class="bi bi-plus"></i>
      </button>
      <div class="label-selection" [formGroup]="form">
        <ng-container formArrayName="toBeMergedLabels">
          <ng-container
            class="form-row"
            *ngFor="let labelForm of toBeMergedLabels.controls; let i = index"
          >
            <div class="col">
              <select class="form-control" formControlName="label">
                <option>a</option>
                <option>b</option>
              </select>
            </div>
            <div class="col">
              <button
                (click)="rem(i)"
                type="button"
                class="btn btn-light"
                id="addLabelButton"
                style="float: right"
              >
                <!-- Plus icon -->
                <i class="bi bi-dash"></i>
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div>
        <!-- Name given to merge -->
        <div class="subTitle">Merge Name</div>
        <input
          type="text"
          class="form-control"
          id="label-name"
          placeholder="Merge Name"
        />
      </div>
      <div>
        <!-- Description -->
        <div class="subTitle">Description</div>
        <!-- Input area -->
        <div class="form-group">
          <textarea
            class="form-control"
            rows="8"
            placeholder="Description"
            id="remark"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons for cancelling and submitting -->
  <div class="row" id="buttons-cancel-submit">
    <div class="form-group" id="butt">
      <button
        class="btn btn-light float-end"
        id="btns-cancel-submit"
        (click)="activeModal.close('Close click')"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary float-end"
        (click)="notImplemented()"
        id="btns-cancel-submit"
      >
        Submit
      </button>
    </div>
  </div>
</div>
