#pageTitle {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid; 
    font-size: 36px;
    letter-spacing: 1px;
}

#addButton {
    padding-top: 10px;
    border-bottom: 1px; 
    border-bottom-style: solid; 
}
.subTitle {
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.theme {
    margin-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #38474e;
}
// Centers the pagination to the middle of the page
#center-pagination {
    display: flex; 
    justify-content: center;
}


